body.javo-dashboard{
	&.author-own-page{
		.jv-my-page{
			>.container{
				.dashboard-left{
					.jv-dashbarod-section-title{
						line-height:80px;
						.jv-dashbarod-user-info-avatar{
							float:left;
							margin-right:10px;
							background:transparent;
						}
						.jv-dashbarod-user-title{
							display:inline-block;
							vertical-align:middle;
							>div{
								line-height:20px;
								margin:0;
								font-size:17px;
								color:#fff;
								text-transform: capitalize;
								&.jv-dashboard-title{
									margin-top:3px;
									text-transform: uppercase;
								}
							}
						}
					}
					.mypage-left-menu{
						display:inline-block;
						width:100%;
					}
				}// .dashboard-left
			}
		}
	}// body.javo-dashboard.author-own-page
	.jv-my-page{
	}
}// body.javo-dashboard