@txt-color:#818181;
@txt-dark:#303030;

.single-tribe_events {
#tribe-events {
.jv-tevent.tribe-events-single {

    
    margin: 0 0 10px;
    
    letter-spacing: 1px;
    
	font-size: 14px;
    line-height: 26px;
    color: @txt-color;
    font-weight: 400;

	.tribe-events-single-event-title {
		font-size: 2.7em;
		line-height: 1;
		margin: 20px 0 0 0;
		padding: 0;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 3px;
	}

	.tribe-events-schedule {
		margin:0em 0em;
	}


	.tribe-events-button, .tribe-events-button {
		background-color: @txt-dark;
	    padding: 14px 17px;
	}

	.tribe-events-event-meta {
		border:1px solid #f4f4f4;
		.tribe-events-meta-group {
			padding: 0 3%;
			h3 {color:@txt-dark; text-transform:uppercase;}
			dt {color:@txt-dark; text-transform:uppercase;}
		}
	}

	#tribe-events-footer {
		border:0;
		padding:0;
	}
	
}
}
}