@font-face {
  font-family: 'jv-icon1';
  src:  url('../fonts/jv-icon1/jv-icon1.eot?9cpiic');
  src:  url('../fonts/jv-icon1/jv-icon1.eot?9cpiic#iefix') format('embedded-opentype'),
    url('../fonts/jv-icon1/jv-icon1.ttf?9cpiic') format('truetype'),
    url('../fonts/jv-icon1/jv-icon1.woff?9cpiic') format('woff'),
    url('../fonts/jv-icon1/jv-icon1.svg?9cpiic#jv-icon1') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="jv-icon1-"], [class*=" jv-icon1-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'jv-icon1' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jv-icon1-addition:before {
  content: "\e900";
}
.jv-icon1-arrow-left:before {
  content: "\e901";
}
.jv-icon1-arrow-right:before {
  content: "\e902";
}
.jv-icon1-audio:before {
  content: "\e903";
}
.jv-icon1-basket:before {
  content: "\e904";
}
.jv-icon1-battery:before {
  content: "\e905";
}
.jv-icon1-block:before {
  content: "\e906";
}
.jv-icon1-block2:before {
  content: "\e907";
}
.jv-icon1-book:before {
  content: "\e908";
}
.jv-icon1-calender:before {
  content: "\e909";
}
.jv-icon1-camera:before {
  content: "\e90a";
}
.jv-icon1-check:before {
  content: "\e90b";
}
.jv-icon1-clip:before {
  content: "\e90c";
}
.jv-icon1-clock:before {
  content: "\e90d";
}
.jv-icon1-comment:before {
  content: "\e90e";
}
.jv-icon1-comment-o:before {
  content: "\e90f";
}
.jv-icon1-danger:before {
  content: "\e910";
}
.jv-icon1-doc-envelope:before {
  content: "\e911";
}
.jv-icon1-docs:before {
  content: "\e912";
}
.jv-icon1-docs2:before {
  content: "\e913";
}
.jv-icon1-docs3:before {
  content: "\e914";
}
.jv-icon1-dot:before {
  content: "\e915";
}
.jv-icon1-dounload:before {
  content: "\e916";
}
.jv-icon1-envelope:before {
  content: "\e917";
}
.jv-icon1-export:before {
  content: "\e918";
}
.jv-icon1-eyes:before {
  content: "\e919";
}
.jv-icon1-fax:before {
  content: "\e91a";
}
.jv-icon1-flag:before {
  content: "\e91b";
}
.jv-icon1-folder:before {
  content: "\e91c";
}
.jv-icon1-heart:before {
  content: "\e91d";
}
.jv-icon1-house:before {
  content: "\e91e";
}
.jv-icon1-import:before {
  content: "\e91f";
}
.jv-icon1-jewelry:before {
  content: "\e920";
}
.jv-icon1-like:before {
  content: "\e921";
}
.jv-icon1-link:before {
  content: "\e922";
}
.jv-icon1-location:before {
  content: "\e923";
}
.jv-icon1-management:before {
  content: "\e924";
}
.jv-icon1-mic:before {
  content: "\e925";
}
.jv-icon1-none:before {
  content: "\e926";
}
.jv-icon1-paragraph:before {
  content: "\e927";
}
.jv-icon1-people:before {
  content: "\e928";
}
.jv-icon1-rain:before {
  content: "\e929";
}
.jv-icon1-search:before {
  content: "\e92a";
}
.jv-icon1-setting:before {
  content: "\e92b";
}
.jv-icon1-setting2:before {
  content: "\e92c";
}
.jv-icon1-shop:before {
  content: "\e92d";
}
.jv-icon1-shop2:before {
  content: "\e92e";
}
.jv-icon1-subtract:before {
  content: "\e92f";
}
.jv-icon1-sun:before {
  content: "\e930";
}
.jv-icon1-support:before {
  content: "\e931";
}
.jv-icon1-tag:before {
  content: "\e932";
}
.jv-icon1-umbralla:before {
  content: "\e933";
}
.jv-icon1-write:before {
  content: "\e934";
}

