@font-face {
  font-family: 'jv-icon3';
  src:  url('../fonts/jv-icon3/jv-icon3.eot?g59ikv');
  src:  url('../fonts/jv-icon3/jv-icon3.eot?g59ikv#iefix') format('embedded-opentype'),
    url('../fonts/jv-icon3/jv-icon3.ttf?g59ikv') format('truetype'),
    url('../fonts/jv-icon3/jv-icon3.woff?g59ikv') format('woff'),
    url('../fonts/jv-icon3/jv-icon3.svg?g59ikv#jv-icon3') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="jv-icon3-"], [class*=" jv-icon3-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'jv-icon3' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jv-icon3-user:before {
  content: "\e000";
}
.jv-icon3-user-add:before {
  content: "\e002";
}
.jv-icon3-user-check:before {
  content: "\e003";
}
.jv-icon3-user-delete:before {
  content: "\e004";
}
.jv-icon3-trophy:before {
  content: "\e006";
}
.jv-icon3-mobile:before {
  content: "\e010";
}
.jv-icon3-desktop:before {
  content: "\e011";
}
.jv-icon3-airplane:before {
  content: "\e012";
}
.jv-icon3-note:before {
  content: "\e013";
}
.jv-icon3-beard:before {
  content: "\e014";
}
.jv-icon3-mouse:before {
  content: "\e015";
}
.jv-icon3-magnet:before {
  content: "\e016";
}
.jv-icon3-flash:before {
  content: "\e020";
}
.jv-icon3-smile:before {
  content: "\e021";
}
.jv-icon3-music-cd:before {
  content: "\e022";
}
.jv-icon3-directions:before {
  content: "\e023";
}
.jv-icon3-crop:before {
  content: "\e024";
}
.jv-icon3-credit-card:before {
  content: "\e025";
}
.jv-icon3-research:before {
  content: "\e026";
}
.jv-icon3-user2:before {
  content: "\e005";
}
.jv-icon3-dashboard:before {
  content: "\e007";
}
.jv-icon3-youtube:before {
  content: "\e008";
}
.jv-icon3-twitter:before {
  content: "\e009";
}
.jv-icon3-tumblr:before {
  content: "\e00a";
}
.jv-icon3-facebook:before {
  content: "\e00b";
}
.jv-icon3-drop-box:before {
  content: "\e00c";
}
.jv-icon3-dribble:before {
  content: "\e00d";
}
.jv-icon3-shield:before {
  content: "\e00e";
}
.jv-icon3-tablet:before {
  content: "\e00f";
}
.jv-icon3-magic:before {
  content: "\e017";
}
.jv-icon3-hourglass:before {
  content: "\e018";
}
.jv-icon3-education:before {
  content: "\e019";
}
.jv-icon3-ghost:before {
  content: "\e01a";
}
.jv-icon3-game:before {
  content: "\e01b";
}
.jv-icon3-fire:before {
  content: "\e01c";
}
.jv-icon3-glasses:before {
  content: "\e01d";
}
.jv-icon3-read-message:before {
  content: "\e01e";
}
.jv-icon3-new-message:before {
  content: "\e01f";
}
.jv-icon3-bell:before {
  content: "\e027";
}
.jv-icon3-badge:before {
  content: "\e028";
}
.jv-icon3-anchor:before {
  content: "\e029";
}
.jv-icon3-wallet:before {
  content: "\e02a";
}
.jv-icon3-object:before {
  content: "\e02b";
}
.jv-icon3-comment:before {
  content: "\e02c";
}
.jv-icon3-puzzle:before {
  content: "\e02d";
}
.jv-icon3-print:before {
  content: "\e02e";
}
.jv-icon3-gift:before {
  content: "\e02f";
}
.jv-icon3-queue-music:before {
  content: "\e030";
}
.jv-icon3-pin:before {
  content: "\e031";
}
.jv-icon3-image:before {
  content: "\e032";
}
.jv-icon3-map:before {
  content: "\e033";
}
.jv-icon3-layer:before {
  content: "\e034";
}
.jv-icon3-basket:before {
  content: "\e035";
}
.jv-icon3-globe:before {
  content: "\e036";
}
.jv-icon3-earth:before {
  content: "\e037";
}
.jv-icon3-select-area:before {
  content: "\e038";
}
.jv-icon3-folder:before {
  content: "\e039";
}
.jv-icon3-film:before {
  content: "\e03a";
}
.jv-icon3-rss:before {
  content: "\e03b";
}
.jv-icon3-earphone:before {
  content: "\e03c";
}
.jv-icon3-headphone:before {
  content: "\e03d";
}
.jv-icon3-water-drop:before {
  content: "\e03e";
}
.jv-icon3-box:before {
  content: "\e03f";
}
.jv-icon3-copy:before {
  content: "\e040";
}
.jv-icon3-guide-plate:before {
  content: "\e041";
}
.jv-icon3-guide-plate2:before {
  content: "\e042";
}
.jv-icon3-jewelry:before {
  content: "\e043";
}
.jv-icon3-coffee:before {
  content: "\e044";
}
.jv-icon3-compass:before {
  content: "\e045";
}
.jv-icon3-caller:before {
  content: "\e046";
}
.jv-icon3-receiver:before {
  content: "\e047";
}
.jv-icon3-call:before {
  content: "\e048";
}
.jv-icon3-calculation:before {
  content: "\e049";
}
.jv-icon3-comments:before {
  content: "\e04a";
}
.jv-icon3-briefcase:before {
  content: "\e04b";
}
.jv-icon3-book:before {
  content: "\e04c";
}
.jv-icon3-cart-full:before {
  content: "\e04d";
}
.jv-icon3-cart:before {
  content: "\e04e";
}
.jv-icon3-bag:before {
  content: "\e04f";
}
.jv-icon3-left:before {
  content: "\e050";
}
.jv-icon3-right:before {
  content: "\e051";
}
.jv-icon3-setting-wrench:before {
  content: "\e052";
}
.jv-icon3-umbrella:before {
  content: "\e053";
}
.jv-icon3-trash:before {
  content: "\e054";
}
.jv-icon3-tag:before {
  content: "\e055";
}
.jv-icon3-life-buoy:before {
  content: "\e056";
}
.jv-icon3-expansion:before {
  content: "\e057";
}
.jv-icon3-reduction:before {
  content: "\e058";
}
.jv-icon3-Shuffle:before {
  content: "\e059";
}
.jv-icon3-export:before {
  content: "\e05a";
}
.jv-icon3-share:before {
  content: "\e05b";
}
.jv-icon3-rocket:before {
  content: "\e05c";
}
.jv-icon3-help:before {
  content: "\e05d";
}
.jv-icon3-pie-chart:before {
  content: "\e05e";
}
.jv-icon3-setting-edit:before {
  content: "\e05f";
}
.jv-icon3-write:before {
  content: "\e060";
}
.jv-icon3-music1:before {
  content: "\e061";
}
.jv-icon3-music2:before {
  content: "\e062";
}
.jv-icon3-mic:before {
  content: "\e063";
}
.jv-icon3-repeat:before {
  content: "\e064";
}
.jv-icon3-logout:before {
  content: "\e065";
}
.jv-icon3-login:before {
  content: "\e066";
}
.jv-icon3-list-item:before {
  content: "\e067";
}
.jv-icon3-like:before {
  content: "\e068";
}
.jv-icon3-home:before {
  content: "\e069";
}
.jv-icon3-application:before {
  content: "\e06a";
}
.jv-icon3-polyline:before {
  content: "\e06b";
}
.jv-icon3-setting-mixer:before {
  content: "\e06c";
}
.jv-icon3-down:before {
  content: "\e06d";
}
.jv-icon3-send:before {
  content: "\e06e";
}
.jv-icon3-skip-previous:before {
  content: "\e06f";
}
.jv-icon3-fast-rewind:before {
  content: "\e070";
}
.jv-icon3-play:before {
  content: "\e071";
}
.jv-icon3-pause:before {
  content: "\e072";
}
.jv-icon3-fast-forward:before {
  content: "\e073";
}
.jv-icon3-skip-next:before {
  content: "\e074";
}
.jv-icon3-calendar:before {
  content: "\e075";
}
.jv-icon3-bulb:before {
  content: "\e076";
}
.jv-icon3-chart:before {
  content: "\e077";
}
.jv-icon3-arrow-up:before {
  content: "\e078";
}
.jv-icon3-arrow-right:before {
  content: "\e079";
}
.jv-icon3-arrow-left:before {
  content: "\e07a";
}
.jv-icon3-arrow-down:before {
  content: "\e07b";
}
.jv-icon3-not-interested:before {
  content: "\e07c";
}
.jv-icon3-comment2:before {
  content: "\e07d";
}
.jv-icon3-video:before {
  content: "\e07e";
}
.jv-icon3-camera:before {
  content: "\e07f";
}
.jv-icon3-check:before {
  content: "\e080";
}
.jv-icon3-clock:before {
  content: "\e081";
}
.jv-icon3-close:before {
  content: "\e082";
}
.jv-icon3-cloud-download:before {
  content: "\e083";
}
.jv-icon3-cloud-upload:before {
  content: "\e084";
}
.jv-icon3-empty:before {
  content: "\e085";
}
.jv-icon3-envelop:before {
  content: "\e086";
}
.jv-icon3-visible:before {
  content: "\e087";
}
.jv-icon3-flag:before {
  content: "\e088";
}
.jv-icon3-folder2:before {
  content: "\e089";
}
.jv-icon3-heart:before {
  content: "\e08a";
}
.jv-icon3-info:before {
  content: "\e08b";
}
.jv-icon3-key:before {
  content: "\e08c";
}
.jv-icon3-link:before {
  content: "\e08d";
}
.jv-icon3-lock:before {
  content: "\e08e";
}
.jv-icon3-unlocked:before {
  content: "\e08f";
}
.jv-icon3-search:before {
  content: "\e090";
}
.jv-icon3-zoom-in:before {
  content: "\e091";
}
.jv-icon3-zoom-out:before {
  content: "\e092";
}
.jv-icon3-clip:before {
  content: "\e093";
}
.jv-icon3-navigation:before {
  content: "\e094";
}
.jv-icon3-addtion:before {
  content: "\e095";
}
.jv-icon3-location:before {
  content: "\e096";
}
.jv-icon3-power:before {
  content: "\e097";
}
.jv-icon3-repeat:before {
  content: "\e098";
}
.jv-icon3-rotate:before {
  content: "\e099";
}
.jv-icon3-setting:before {
  content: "\e09a";
}
.jv-icon3-star:before {
  content: "\e09b";
}
.jv-icon3-female:before {
  content: "\e09c";
}
.jv-icon3-male:before {
  content: "\e09d";
}
.jv-icon3-location2:before {
  content: "\e09e";
}
.jv-icon3-volume:before {
  content: "\e09f";
}
.jv-icon3-volume2:before {
  content: "\e0a0";
}
.jv-icon3-mute:before {
  content: "\e0a1";
}
.jv-icon3-user-group:before {
  content: "\e001";
}

