@font-face {
  font-family: 'jv-icon2';
  src:  url('../fonts/jv-icon2/jv-icon2.eot?bc29uw');
  src:  url('../fonts/jv-icon2/jv-icon2.eot?bc29uw#iefix') format('embedded-opentype'),
    url('../fonts/jv-icon2/jv-icon2.ttf?bc29uw') format('truetype'),
    url('../fonts/jv-icon2/jv-icon2.woff?bc29uw') format('woff'),
    url('../fonts/jv-icon2/jv-icon2.svg?bc29uw#jv-icon2') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="jv-icon2-"], [class*=" jv-icon2-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'jv-icon2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jv-icon2-bookmark2:before {
  content: "\e935";
}
.jv-icon2-battery:before {
  content: "\e905";
}
.jv-icon2-block:before {
  content: "\e906";
}
.jv-icon2-block2:before {
  content: "\e907";
}
.jv-icon2-clock2:before {
  content: "\e90d";
}
.jv-icon2-location3:before {
  content: "\e923";
}
.jv-icon2-none:before {
  content: "\e926";
}
.jv-icon2-paragraph:before {
  content: "\e927";
}
.jv-icon2-user2:before {
  content: "\e928";
}
.jv-icon2-search2:before {
  content: "\e92a";
}
.jv-icon2-setting2:before {
  content: "\e92b";
}
.jv-icon2-umbralla:before {
  content: "\e933";
}
.jv-icon2-academy:before {
  content: "\e900";
}
.jv-icon2-add:before {
  content: "\e901";
}
.jv-icon2-arrow-down:before {
  content: "\e902";
}
.jv-icon2-arrow-left:before {
  content: "\e903";
}
.jv-icon2-arrow-right:before {
  content: "\e904";
}
.jv-icon2-arrow-up:before {
  content: "\e908";
}
.jv-icon2-atom:before {
  content: "\e909";
}
.jv-icon2-bell:before {
  content: "\e90a";
}
.jv-icon2-book:before {
  content: "\e90b";
}
.jv-icon2-bookmark:before {
  content: "\e90c";
}
.jv-icon2-brush:before {
  content: "\e90e";
}
.jv-icon2-button:before {
  content: "\e90f";
}
.jv-icon2-calendar:before {
  content: "\e910";
}
.jv-icon2-camera:before {
  content: "\e911";
}
.jv-icon2-check:before {
  content: "\e912";
}
.jv-icon2-clip:before {
  content: "\e913";
}
.jv-icon2-clock:before {
  content: "\e914";
}
.jv-icon2-close:before {
  content: "\e915";
}
.jv-icon2-combass:before {
  content: "\e916";
}
.jv-icon2-comment:before {
  content: "\e917";
}
.jv-icon2-connect:before {
  content: "\e918";
}
.jv-icon2-cook:before {
  content: "\e919";
}
.jv-icon2-crop:before {
  content: "\e91a";
}
.jv-icon2-danger:before {
  content: "\e91b";
}
.jv-icon2-docs1:before {
  content: "\e91c";
}
.jv-icon2-documentation:before {
  content: "\e91d";
}
.jv-icon2-download:before {
  content: "\e91e";
}
.jv-icon2-download2:before {
  content: "\e91f";
}
.jv-icon2-drawing:before {
  content: "\e920";
}
.jv-icon2-drop:before {
  content: "\e921";
}
.jv-icon2-dropbox:before {
  content: "\e922";
}
.jv-icon2-email:before {
  content: "\e924";
}
.jv-icon2-export:before {
  content: "\e925";
}
.jv-icon2-export2:before {
  content: "\e929";
}
.jv-icon2-eye:before {
  content: "\e92c";
}
.jv-icon2-fax:before {
  content: "\e92d";
}
.jv-icon2-flag:before {
  content: "\e92e";
}
.jv-icon2-flower:before {
  content: "\e92f";
}
.jv-icon2-folder:before {
  content: "\e930";
}
.jv-icon2-food:before {
  content: "\e931";
}
.jv-icon2-grahp:before {
  content: "\e932";
}
.jv-icon2-grahp2:before {
  content: "\e934";
}
.jv-icon2-grahp3:before {
  content: "\e936";
}
.jv-icon2-grahp4:before {
  content: "\e937";
}
.jv-icon2-headset:before {
  content: "\e938";
}
.jv-icon2-heart:before {
  content: "\e939";
}
.jv-icon2-home:before {
  content: "\e93a";
}
.jv-icon2-hospital:before {
  content: "\e93b";
}
.jv-icon2-image:before {
  content: "\e93c";
}
.jv-icon2-info:before {
  content: "\e93d";
}
.jv-icon2-info2:before {
  content: "\e93e";
}
.jv-icon2-jewelry:before {
  content: "\e93f";
}
.jv-icon2-briefcase:before {
  content: "\e940";
}
.jv-icon2-layer:before {
  content: "\e941";
}
.jv-icon2-light:before {
  content: "\e942";
}
.jv-icon2-location1:before {
  content: "\e943";
}
.jv-icon2-location2:before {
  content: "\e944";
}
.jv-icon2-lock:before {
  content: "\e945";
}
.jv-icon2-map:before {
  content: "\e946";
}
.jv-icon2-mark:before {
  content: "\e947";
}
.jv-icon2-mark3:before {
  content: "\e948";
}
.jv-icon2-medal:before {
  content: "\e949";
}
.jv-icon2-memo:before {
  content: "\e94a";
}
.jv-icon2-mic:before {
  content: "\e94b";
}
.jv-icon2-milestone:before {
  content: "\e94c";
}
.jv-icon2-mobile:before {
  content: "\e94d";
}
.jv-icon2-monitor:before {
  content: "\e94e";
}
.jv-icon2-music:before {
  content: "\e94f";
}
.jv-icon2-nature:before {
  content: "\e950";
}
.jv-icon2-option:before {
  content: "\e951";
}
.jv-icon2-pattern:before {
  content: "\e952";
}
.jv-icon2-pen:before {
  content: "\e953";
}
.jv-icon2-pencil:before {
  content: "\e954";
}
.jv-icon2-user:before {
  content: "\e955";
}
.jv-icon2-pin:before {
  content: "\e956";
}
.jv-icon2-power:before {
  content: "\e957";
}
.jv-icon2-rodding:before {
  content: "\e958";
}
.jv-icon2-search:before {
  content: "\e959";
}
.jv-icon2-setting:before {
  content: "\e95a";
}
.jv-icon2-shield:before {
  content: "\e95b";
}
.jv-icon2-shop:before {
  content: "\e95c";
}
.jv-icon2-shop2:before {
  content: "\e95d";
}
.jv-icon2-spread:before {
  content: "\e95e";
}
.jv-icon2-star:before {
  content: "\e95f";
}
.jv-icon2-stop:before {
  content: "\e960";
}
.jv-icon2-student:before {
  content: "\e961";
}
.jv-icon2-subtract:before {
  content: "\e962";
}
.jv-icon2-tag:before {
  content: "\e963";
}
.jv-icon2-tell:before {
  content: "\e964";
}
.jv-icon2-temperature:before {
  content: "\e965";
}
.jv-icon2-timer:before {
  content: "\e966";
}
.jv-icon2-tool:before {
  content: "\e967";
}
.jv-icon2-trash:before {
  content: "\e968";
}
.jv-icon2-tree:before {
  content: "\e969";
}
.jv-icon2-umbrella:before {
  content: "\e96a";
}
.jv-icon2-video:before {
  content: "\e96b";
}
.jv-icon2-volume:before {
  content: "\e96c";
}
.jv-icon2-wifi:before {
  content: "\e96d";
}
.jv-icon2-world:before {
  content: "\e96e";
}
.jv-icon2-headset2:before {
  content: "\e96f";
}

