@font-face {
  font-family: 'jv-icon4';
  src:  url('../fonts/jv-icon4/jv-icon4.eot?t1aqck');
  src:  url('../fonts/jv-icon4/jv-icon4.eot?t1aqck#iefix') format('embedded-opentype'),
    url('../fonts/jv-icon4/jv-icon4.ttf?t1aqck') format('truetype'),
    url('../fonts/jv-icon4/jv-icon4.woff?t1aqck') format('woff'),
    url('../fonts/jv-icon4/jv-icon4.svg?t1aqck#jv-icon4') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="jv-icon4-"], [class*=" jv-icon4-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'jv-icon4' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jv-icon4-arrow_left:before {
  content: "\e900";
}
.jv-icon4-arrow_right:before {
  content: "\e901";
}
.jv-icon4-arrow_up:before {
  content: "\e902";
}
.jv-icon4-arrow_down:before {
  content: "\e903";
}
.jv-icon4-plus:before {
  content: "\e904";
}
.jv-icon4-minus:before {
  content: "\e905";
}
.jv-icon4-close:before {
  content: "\e906";
}
.jv-icon4-choose:before {
  content: "\e907";
}
.jv-icon4-arrow_lockwise:before {
  content: "\e908";
}
.jv-icon4-arrow_anti-clockwise:before {
  content: "\e909";
}
.jv-icon4-circle_arrow_left:before {
  content: "\e90a";
}
.jv-icon4-circle_arrow_right:before {
  content: "\e90b";
}
.jv-icon4-circle_arrow_up:before {
  content: "\e90c";
}
.jv-icon4-circle_arrow_down:before {
  content: "\e90d";
}
.jv-icon4-circle_plus:before {
  content: "\e90e";
}
.jv-icon4-circle_minus:before {
  content: "\e90f";
}
.jv-icon4-circle_close:before {
  content: "\e910";
}
.jv-icon4-circle_choose:before {
  content: "\e911";
}
.jv-icon4-refresh:before {
  content: "\e912";
}
.jv-icon4-enter:before {
  content: "\e913";
}
.jv-icon4-arrow2_left:before {
  content: "\e914";
}
.jv-icon4-arrow2_right:before {
  content: "\e915";
}
.jv-icon4-arrow2_up:before {
  content: "\e916";
}
.jv-icon4-arrow2_down:before {
  content: "\e917";
}
.jv-icon4-login:before {
  content: "\e918";
}
.jv-icon4-logout:before {
  content: "\e919";
}
.jv-icon4-download:before {
  content: "\e91a";
}
.jv-icon4-upload:before {
  content: "\e91b";
}
.jv-icon4-cloud_download:before {
  content: "\e91c";
}
.jv-icon4-cloud_upload:before {
  content: "\e91d";
}
.jv-icon4-list:before {
  content: "\e91e";
}
.jv-icon4-list_item:before {
  content: "\e91f";
}
.jv-icon4-list_choose:before {
  content: "\e920";
}
.jv-icon4-text:before {
  content: "\e921";
}
.jv-icon4-file_empty:before {
  content: "\e922";
}
.jv-icon4-file_text:before {
  content: "\e923";
}
.jv-icon4-file_plus:before {
  content: "\e924";
}
.jv-icon4-file_minus:before {
  content: "\e925";
}
.jv-icon4-file_choose:before {
  content: "\e926";
}
.jv-icon4-file_delete:before {
  content: "\e927";
}
.jv-icon4-help:before {
  content: "\e928";
}
.jv-icon4-caution:before {
  content: "\e929";
}
.jv-icon4-hint:before {
  content: "\e92a";
}
.jv-icon4-no:before {
  content: "\e92b";
}
.jv-icon4-bell:before {
  content: "\e92c";
}
.jv-icon4-lamp-bulb:before {
  content: "\e92d";
}
.jv-icon4-message:before {
  content: "\e92e";
}
.jv-icon4-chat:before {
  content: "\e92f";
}
.jv-icon4-mail:before {
  content: "\e930";
}
.jv-icon4-megaphone:before {
  content: "\e931";
}
.jv-icon4-phone:before {
  content: "\e932";
}
.jv-icon4-pad:before {
  content: "\e933";
}
.jv-icon4-desktop:before {
  content: "\e934";
}
.jv-icon4-mouse:before {
  content: "\e935";
}
.jv-icon4-battery_full:before {
  content: "\e936";
}
.jv-icon4-battery_empty:before {
  content: "\e937";
}
.jv-icon4-power:before {
  content: "\e938";
}
.jv-icon4-flag:before {
  content: "\e939";
}
.jv-icon4-basketball:before {
  content: "\e93a";
}
.jv-icon4-life-buoy:before {
  content: "\e93b";
}
.jv-icon4-signal:before {
  content: "\e93c";
}
.jv-icon4-wifi:before {
  content: "\e93d";
}
.jv-icon4-telephone:before {
  content: "\e93e";
}
.jv-icon4-telephone-directory:before {
  content: "\e93f";
}
.jv-icon4-calendar:before {
  content: "\e940";
}
.jv-icon4-alarm:before {
  content: "\e941";
}
.jv-icon4-clock:before {
  content: "\e942";
}
.jv-icon4-hourglass:before {
  content: "\e943";
}
.jv-icon4-hyperlink:before {
  content: "\e944";
}
.jv-icon4-hyperlink2:before {
  content: "\e945";
}
.jv-icon4-earth:before {
  content: "\e946";
}
.jv-icon4-planet:before {
  content: "\e947";
}
.jv-icon4-focus:before {
  content: "\e948";
}
.jv-icon4-coordinates:before {
  content: "\e949";
}
.jv-icon4-navigation:before {
  content: "\e94a";
}
.jv-icon4-pin:before {
  content: "\e94b";
}
.jv-icon4-compass:before {
  content: "\e94c";
}
.jv-icon4-plane:before {
  content: "\e94d";
}
.jv-icon4-dashboard:before {
  content: "\e94e";
}
.jv-icon4-clip:before {
  content: "\e94f";
}
.jv-icon4-setting_wrench:before {
  content: "\e950";
}
.jv-icon4-setting_cog:before {
  content: "\e951";
}
.jv-icon4-setting_edit:before {
  content: "\e952";
}
.jv-icon4-ruler:before {
  content: "\e953";
}
.jv-icon4-scissors:before {
  content: "\e954";
}
.jv-icon4-empty:before {
  content: "\e955";
}
.jv-icon4-chart:before {
  content: "\e956";
}
.jv-icon4-pie-chart:before {
  content: "\e957";
}
.jv-icon4-filter:before {
  content: "\e958";
}
.jv-icon4-briefcase:before {
  content: "\e959";
}
.jv-icon4-id-card:before {
  content: "\e95a";
}
.jv-icon4-file:before {
  content: "\e95b";
}
.jv-icon4-picture:before {
  content: "\e95c";
}
.jv-icon4-camera:before {
  content: "\e95d";
}
.jv-icon4-search:before {
  content: "\e95e";
}
.jv-icon4-zoom-in:before {
  content: "\e95f";
}
.jv-icon4-zoom-out:before {
  content: "\e960";
}
.jv-icon4-locked:before {
  content: "\e961";
}
.jv-icon4-unlocked:before {
  content: "\e962";
}
.jv-icon4-key:before {
  content: "\e963";
}
.jv-icon4-home:before {
  content: "\e964";
}
.jv-icon4-warehouse:before {
  content: "\e965";
}
.jv-icon4-user:before {
  content: "\e966";
}
.jv-icon4-VIP:before {
  content: "\e967";
}
.jv-icon4-assisant:before {
  content: "\e968";
}
.jv-icon4-team:before {
  content: "\e969";
}
.jv-icon4-medal:before {
  content: "\e96a";
}
.jv-icon4-medal2:before {
  content: "\e96b";
}
.jv-icon4-diamond:before {
  content: "\e96c";
}
.jv-icon4-crown:before {
  content: "\e96d";
}
.jv-icon4-van:before {
  content: "\e96e";
}
.jv-icon4-cart:before {
  content: "\e96f";
}
.jv-icon4-basket:before {
  content: "\e970";
}
.jv-icon4-bag:before {
  content: "\e971";
}
.jv-icon4-tag:before {
  content: "\e972";
}
.jv-icon4-order-form:before {
  content: "\e973";
}
.jv-icon4-coupon:before {
  content: "\e974";
}
.jv-icon4-clothes:before {
  content: "\e975";
}
.jv-icon4-tie:before {
  content: "\e976";
}
.jv-icon4-application:before {
  content: "\e977";
}
.jv-icon4-euro:before {
  content: "\e978";
}
.jv-icon4-pound:before {
  content: "\e979";
}
.jv-icon4-dollar:before {
  content: "\e97a";
}
.jv-icon4-yuan:before {
  content: "\e97b";
}
.jv-icon4-wallet:before {
  content: "\e97c";
}
.jv-icon4-cash:before {
  content: "\e97d";
}
.jv-icon4-card:before {
  content: "\e97e";
}
.jv-icon4-eye:before {
  content: "\e97f";
}
.jv-icon4-steering-wheel:before {
  content: "\e980";
}
.jv-icon4-rocket:before {
  content: "\e981";
}
.jv-icon4-play:before {
  content: "\e982";
}
.jv-icon4-pause:before {
  content: "\e983";
}
.jv-icon4-stop:before {
  content: "\e984";
}
.jv-icon4-fast-forward:before {
  content: "\e985";
}
.jv-icon4-rewind:before {
  content: "\e986";
}
.jv-icon4-next:before {
  content: "\e987";
}
.jv-icon4-previous:before {
  content: "\e988";
}
.jv-icon4-cd:before {
  content: "\e989";
}
.jv-icon4-open-file:before {
  content: "\e98a";
}
.jv-icon4-music:before {
  content: "\e98b";
}
.jv-icon4-volume:before {
  content: "\e98c";
}
.jv-icon4-mute:before {
  content: "\e98d";
}
.jv-icon4-earphone:before {
  content: "\e98e";
}
.jv-icon4-headphone-:before {
  content: "\e98f";
}
.jv-icon4-microphone:before {
  content: "\e990";
}
.jv-icon4-star:before {
  content: "\e991";
}
.jv-icon4-heart:before {
  content: "\e992";
}
.jv-icon4-add-to-collection:before {
  content: "\e993";
}
.jv-icon4-collection:before {
  content: "\e994";
}
.jv-icon4-bookmark:before {
  content: "\e995";
}
.jv-icon4-wine:before {
  content: "\e996";
}
.jv-icon4-cocktail:before {
  content: "\e997";
}
.jv-icon4-juice:before {
  content: "\e998";
}
.jv-icon4-beer:before {
  content: "\e999";
}
.jv-icon4-coffe_tea:before {
  content: "\e99a";
}
.jv-icon4-cupcake:before {
  content: "\e99b";
}
.jv-icon4-candle:before {
  content: "\e99c";
}
.jv-icon4-gift:before {
  content: "\e99d";
}
.jv-icon4-cake:before {
  content: "\e99e";
}
.jv-icon4-flower:before {
  content: "\e99f";
}
.jv-icon4-snow:before {
  content: "\e9a0";
}
.jv-icon4-thunder:before {
  content: "\e9a1";
}
.jv-icon4-rain:before {
  content: "\e9a2";
}
.jv-icon4-cloud1:before {
  content: "\e9a3";
}
.jv-icon4-cloud2:before {
  content: "\e9a4";
}
.jv-icon4-sun:before {
  content: "\e9a5";
}
.jv-icon4-moon:before {
  content: "\e9a6";
}
.jv-icon4-snow-and-rain:before {
  content: "\e9a7";
}
.jv-icon4-umbrella:before {
  content: "\e9a8";
}
.jv-icon4-leaves:before {
  content: "\e9a9";
}

