/*------------------------------------------------------------------
[Default]

Project:	Javo Themes
Version:	1.0
Last change:	05/24/17 [Organize CSS Structure]
Assigned to:	Javo
Primary use:	Default LESS
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. Global Setup
2. Left Sidebar header
3. Middle content header
4. Pages

*/

/*------1. Global Setup------*/
@import "variables.less";
// Global Styles

    background: @sidebar;
    font-family: @basefont1;
    margin: 0;
    overflow-x: hidden;
    color: @bodytext;
    font-weight: 300;

    /*position: relative;*/
    min-height: 100%;
    background: @white;

a {color:#4b5b8e;;}

h1,h2,h3,h4,h5,h6 {
    color: @headingtext;
    font-family: @basefont2;
    margin: 10px 0;
    font-weight: 300;
}
h1 { line-height: 48px; font-size: 36px; }
h2 { line-height: 36px; font-size: 24px; }
h3 { line-height: 30px; font-size: 21px; }
h4 { line-height: 22px; font-size: 18px; }
h5 {font-size: 18px; font-size: 16px;}
h6 {font-size: 16px; font-size: 14px;}

/*
.dn {display: none;}
.db {display: block;}
.light_op_text {color: rgba(255, 255, 255, 0.5);}
*/

blockquote {
	border-left: 5px solid @maincolor!important;
	border: 1px solid @border;
}
p {line-height: 1.6;}
b {font-weight: 600;}

a {
    &:hover {
        outline: 0;
        text-decoration: none;
    }
    &:active {
        outline: 0;
        text-decoration: none;
    }
    &:focus {
        outline: 0;
        text-decoration: none;
    }
}

.clear {clear: both;}
hr {border-color: @border;}

.vt {vertical-align: top;}
.vb {vertical-align: bottom;}
.font-bold {font-weight: 700;}
.font-normal {font-weight: normal;}
.font-light {font-weight: 300;}
.pull-in {
    margin-left: -15px;
    margin-right: -15px;
}

.b-0 {border: none !important;}

.vertical-middle { vertical-align: middle;}

.bx-shadow {
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.mx-box {
    max-height: 380px;
    min-height: 380px;
}

.thumb-sm {
    height: 32px;
    width: 32px;
}

.thumb-md {
    height: 48px;
    width: 48px;
}

.thumb-lg {
    height: 88px;
    width: 88px;
}


.w-100pc {width: 100%;}
.po-re {position: relative;}




/* card */

@media (min-width: 576px){
	.card-deck .card:not(:last-child) {
		margin-right: 0;
	}
}

.card {	
	border: 0px solid @card-border-light;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: 0 1px 1px rgba(0,0,0,0.05);
	.card-header {
		color: #000;
		font-weight:500;
		background-color: @card-bg-light;
		border-bottom: 1px solid @card-border-light;
		padding:1.5rem 2.0rem;
		h4.card-title {font-size:15px; text-transform:uppercase; color:#515365;font-weight:500; line-height:1.3; letter-spacing:1px; margin:0;     text-overflow: ellipsis;}

		&.card-header-bg-img {
			background-size: cover;
			height: 375px;
			-webkit-box-shadow: none;
			box-shadow: none;
			border: 0px;
			border-radius: 0px;
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background-image: linear-gradient(to bottom right,#000000,#8dbdc7);
				opacity: .6;

				display: block;
				visibility: visible;
				left: 0;
				right: 0;
				top: 70%;
				bottom: 0;
				background-color: transparent;
				background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,0.4));
				background-image: linear-gradient(transparent,rgba(0,0,0,0.4));
				-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#CC000000', GradientType=0);";
				text-shadow: 0 1px 1px rgba(0,0,0,0.8);
			}
		}
	}

	.card-block{
		padding:2.25rem 2.25rem;
		.card-profile-img {
			max-width: 100px;
			margin-top: -88px;
			margin-bottom: 5px;
			border: 3px solid #fff;
		}
		h3.author-name {
			font-size: 38px;
			line-height: 38px;
			font-weight: 900;
			text-shadow: 3px 4px 5px rgba(0,0,0,0.2);
			text-transform:uppercase;
			color:@white;
		}
		a.btn { color:@white; text-transform: uppercase; letter-spacing:1px;}
	}

	&.chartjs {
		.card-block {
			padding:6rem 10rem;
			@media(max-width:767px) {
				padding:0;
				margin:0;
			}
		}
		&.narrow {
			.card-block{
				padding:3rem 3.5rem;
			}
		}
	}

	/** Block-status **/
	&.block-status {
		border:0px solid @light-dark;
		overflow:hidden;
		color:@white;
		.card-block{
		background:@maincolor;
		h4.card-title {font-size:15px; text-transform:uppercase; color:@white;font-weight:500; line-height:2.3; letter-spacing:1px; margin:0; text-overflow: ellipsis;}
		.counter{
			font-size: 35px;
			font-weight:600;
			color:@white;
		}
		vertical-align: middle;
			.shadow-icon {
				position:absolute;
				right:-20%;
				bottom:-21%;
				color: rgba(253, 253, 253, 0.2);
				font-size: 135px;
				display: inline-block;
			}
		}
		&:hover {
			opacity:0.8;
			cursor:pointer;

		}
	}

	&.listing-card {
		.card-header {
			border-bottom:0;
		}
		.list-group-item{
			padding:4.5rem 3.0rem;
			display: table;
			width:100%;
			&:hover {
				background: @extralight;
			}

			.listing-thumb{
				width:50px;
				display:table-cell;
				position:relative;
				margin:0 10px 0px 0px;
				min-width:50px;
				img{ width:100%;}
			&.small-img {
				img{width:50px;height:50px;}
			}
			}

			.listing-content{
				display:table-cell;
				padding-left:16px;
				vertical-align:middle;
					h5{
					margin:0 0 8px 0;
					overflow:hidden;
						a {
						font-size:13px;
						line-height:25px;
						text-transform: uppercase;
						margin: 0;
						font-weight: 400;
						text-overflow: ellipsis;
						height:50px;
						overflow: hidden;
						}
					}
					.listing-desc {
						font-size: 12px;
						display: block;
						line-height: 25px;
						color: @light-dark;
						height: 50px;
						overflow: hidden;
						margin:0 0 11px 0;
					}

				.author a, .time, .meta-taxonomies, .status, .rating{
					font-size:12px;
					color:@light-dark;
					padding-right:8px;
					text-transform: uppercase;
					letter-spacing:1px;
					font-weight:300;
						i {
							padding-right:2px;
						}
					&.label {color:@white; font-size: 0.85em; padding: 2px 10px;}
				}
				.post-status {margin-right: 8px; }
				.expire-day {
					font-size: 11px;
					border-radius: 60px;
					padding: 4px 12px 3px;
					font-weight: 500;
					color: @red;
				}
			} //.listing-content

		}
		.listing-action{
			&.btn-box{
				a {
					color: @dark;
					padding: 1.0rem 1.2rem;
					text-transform: uppercase;
					line-height: 0;
					font-weight: 400;
					font-size: 0.85em;
					background: #edf1f5;
					border-radius: 3px;
					margin-right: 10px;
					margin-left: 0px;
					border:1px solid #e9edf3;
				}
			}
		}
		.card-footer {
			padding: 1.75rem 1.25rem;
			background-color: @maincolor;
			border-top: 0px;
			a {
				color:@white;
			}
		}

		&.narrow {
			overflow:hidden;
			h4.card-title {
				white-space: nowrap;
				font-size: 12px;
				color: #6f6f6f;
			}

			.list-group-item {
				padding: 1.5em 1.5em;
				.listing-content h5 a {
					white-space: nowrap;
				}
			}

			.author a, .time, .meta-taxonomies{
					font-size:11px;
					color:@light-dark;
					padding-right:5px;
						i {
							padding-right:2px;
							font-size: 0.9em;
						}
				}

		}

		&.processing {
			position:relative;
			&:after{
				content:'';
				position:absolute;
				top:0;
				left:0;
				right:0;
				bottom:0;
				background-color:rgba( 255, 255, 255, .5 );
			}
			div.hidden.delete-event-loading{
				display:inline-block !important;
				visibility:visible !important;
				position:absolute;
				top:50%;
				left:50%;
				margin-top: -27.5px;
				margin-left: -27.5px;
			}

		}
	}
}






/* Badge */
.badge {
    text-transform: uppercase;
    font-weight: 600;
    padding: 3px 5px;
    font-size: 12px;
    margin-top: 1px;
    background-color: @warning;
}

.badge-xs {
    font-size: 9px;
}

.badge-xs,
.badge-sm {
    -webkit-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
}

.badge-success {
    background-color: @success;
}

.badge-info {
    background-color: @info;
}

.badge-warning {
    background-color: @warning;
}

.badge-danger {
    background-color: @danger;
}

.badge-purple {
    background-color: @purple;
}

.badge-red {
    background-color: @red;
}

.badge-inverse {
    background-color: @inverse;
}




/* Labels */

.label {
    letter-spacing: 0.05em;
    border-radius: 60px;
    padding: 4px 12px 3px;
    font-weight: 500;
}

.label-rounded,
.label-rouded {
    border-radius: 60px;
    padding: 4px 12px 3px;
    font-weight: 500;
}

.label-maincolor {
    background-color: @maincolor;
}

.label-custom {
    background-color: @skyblue;
}

.label-success {
    background-color: @success;
}

.label-info {
    background-color: @info;
}

.label-warning {
    background-color: @warning;
}

.label-danger {
    background-color: @danger;
}

.label-skyblue {
    background-color: @skyblue;
}

.label-primary {
    background-color: @primary;
}

.label-purple {
    background-color: @purple;
}

.label-red {
    background-color: @red;
}

.label-inverse {
    background-color: @inverse;
}

.label-white {
    background-color: @white;
}

.label-default {
    background-color: @light;
}


/*Bootstrap overight*/
.dropdown-menu {
    border: 1px solid @border;
    border-radius: @radius;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .05)!important;
    -webkit-box-shadow: 0px!important;
    -moz-box-shadow: 0px!important;
    padding-bottom: 8px;
    margin-top: 0px;
    &.triangle-arrow-right { top:100%; border-radius: 4px;
	&:before {
		position: absolute;
		top: -7px;
		right: 27px;
		display: inline-block!important;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #eee;
		border-left: 7px solid transparent;
		border-bottom-color: rgba(0,0,0,.2);
		border-bottom-color: #d4dae4;
		border-bottom-color: @white;
		content: '';	
	}
	&.dropdown-favorites:before, &.dropdown-listings:before, {
		right: 16px;
	}
	&.dropdown-userinfo:before {
		right:32px;
	}
    }
}

.dropdown-menu > li > a {
    padding: 9px 20px;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background: @extralight;
}

.header-content-wrapper .progress {
    margin-bottom: 6px;
}

label {
    font-weight: 500;
}

.btn {
    border-radius: @radius;
}

.form-control {
    background-color: #ffffff;
    border: 1px solid @light;
    border-radius: @radius;
    box-shadow: none;
    color: #565656;
    height: 38px;
    max-width: 100%;
    padding: 7px 12px;
    transition: all 300ms linear 0s;
    &:focus {
        box-shadow: none;
        border-color: @dark;
    }
}

.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.input-lg {
    height: 44px;
    padding: 5px 10px;
    font-size: 18px;
}

.bootstrap-tagsinput {
    border: 1px solid @light;
    border-radius: @radius;
    box-shadow: none;
    display: block;
    padding: 7px 12px;
}

.bootstrap-touchspin .input-group-btn-vertical>.btn {
    padding: 9px 10px;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up,
.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
    border-radius: @radius;
}

.input-group-btn .btn {
    padding: 8px 12px;
}

.form-horizontal .form-group {
    margin-left: -7.5px;
    margin-right: -7.5px;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 25px;
}

.select2-container-multi .select2-choices {
    border: 1px solid @light;
}

.list-group-item,
.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: @radius;
    border-color: @border;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    background: @info;
    border-color: @info;
}

.list-task .list-group-item,
.list-task .list-group-item:first-child {
    border-radius: @radius;
    border: 0px;
}

.list-task .list-group-item:last-child {
    border-radius: 0px;
    border: 0px
}

.media {
    border: 1px solid @border;
    margin-bottom: 10px;
    padding: 15px;
    .media-heading {
        font-weight: 500;
    }
}

.well,
pre {
    background: @white;
    border-radius: @radius;
}

.nav-tabs > li > a {
    border-radius: @radius;
    color: @dark;
    &:hover,
    &:focus {
        background: @white;
    }
}

.modal-content {
    border-radius: @radius;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.alert {
    border-radius: @radius;
}

.carousel-control {
    width: 8%;
    span {
        position: absolute;
        top: 50%;
        /* pushes the icon in the middle of the height */
        z-index: 5;
        display: inline-block;
        font-size: 30px;
    }
}

.popover {
    border-radius: @radius;
}

.popover-title {
    padding: 5px 14px;
}

.container-fluid {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.row {
    margin-right: -7.5px;
    margin-left: -7.5px;
}

.btn-group-vertical>.btn:first-child:not(:last-child),
.btn-group-vertical>.btn:last-child:not(:first-child) {
    border-radius: @radius;
}

.table-responsive {
    overflow-y: hidden;
}


/* Pagination/ Pager */
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-bottom-left-radius: @radius;
    border-top-left-radius: @radius;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: @radius;
    border-top-right-radius: @radius;
}

.pagination > li > a,
.pagination > li > span {
    color: @dark;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    background-color: @light;
}

.pagination-split li {
    margin-left: 5px;
    display: inline-block;
    float: left;
}

.pagination-split li:first-child {
    margin-left: 0;
}

.pagination-split li a {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: @maincolor;
    border-color: @maincolor;
}

.pager li > a,
.pager li > span {
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius;
    border-radius: @radius;
    color: @dark;
}

// table-cell
.table-box {
    display: table;
    width: 100%;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}

.jqstooltip {
    width: auto !important;
    height: auto !important;
}

// text-align
// Wrappers
#wrapper {
    width: 100%;
}

#content-page-wrapper {
    padding: 0px;
    min-height: 568px;
    background: @bodycolor;
    padding-bottom: 60px;
}

.footer {
    bottom: 0;
    color: #58666e;
    left: 0px;
    padding: 20px 30px;
    position: absolute;
    right: 0;
    background: @white;
}


// Buttons
.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-rounded {
    border-radius: 60px;
}

.btn-custom,
.btn-custom.disabled {
    background: @maincolor;
    border: 1px solid @maincolor;
    color: @white;
    &:hover,
    &:focus,
    &.focus {
        background: @maincolor;
        opacity: 0.8;
        color: @white;
        border: 1px solid @maincolor;
    }
}

.btn-primary,
.btn-primary.disabled {
    background: @primary;
    border: 1px solid @primary;
    color:@white;
    &:hover,
    &:focus,
    &.focus {
        background: @primary;
        opacity: 0.8;
        border: 1px solid @primary;
    }
}

.btn-success,
.btn-success.disabled {
    background: @success;
    border: 1px solid @success;
    &:hover,
    &:focus,
    &.focus {
        background: @success;
        opacity: 0.8;
        border: 1px solid @success;
    }
}

.btn-info,
.btn-info.disabled {
    background: @info;
    border: 1px solid @info;
    &:hover,
    &:focus,
    &.focus {
        background: @info;
        opacity: 0.8;
        border: 1px solid @info;
    }
}

.btn-warning,
.btn-warning.disabled {
    background: @warning;
    border: 1px solid @warning;
    &:hover,
    &:focus,
    &.focus {
        background: @warning;
        opacity: 0.8;
        border: 1px solid @warning;
    }
}

.btn-danger,
.btn-danger.disabled {
    background: @danger;
    border: 1px solid @danger;
    &:hover,
    &:focus,
    &.focus {
        background: @danger;
        opacity: 0.8;
        border: 1px solid @danger;
    }
}

.btn-default,
.btn-default.disabled {
    background: @light;
    border: 1px solid @light;
    &:hover,
    &:focus,
    &.focus {
        opacity: 0.8;
        border: 1px solid @light;
        background: @light;
    }
}

.btn-default.btn-outline {
    background-color: @white;
    &:hover,
    &:focus,
    &.focus {
        background: @light;
    }
}

.btn-primary.btn-outline {
    color: @primary;
    background-color: @white;
    &:hover,
    &:focus,
    &.focus {
        background: @primary;
        color: @white;
    }
}

.btn-success.btn-outline {
    color: @success;
    background-color: transparent;
    &:hover,
    &:focus,
    &.focus {
        background: @success;
        color: @white;
    }
}

.btn-info.btn-outline {
    color: @info;
    background-color: transparent;
    &:hover,
    &:focus,
    &.focus {
        background: @info;
        color: @white;
    }
}

.btn-warning.btn-outline {
    color: @warning;
    background-color: transparent;
    &:hover,
    &:focus,
    &.focus {
        background: @warning;
        color: @white;
    }
}

.btn-danger.btn-outline {
    color: @danger;
    background-color: transparent;
    &:hover,
    &:focus,
    &.focus {
        background: @danger;
        color: @white;
    }
}

.button-box .btn {
    margin: 0 8px 8px 0px;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: white;
}

.btn-label {
    background: rgba(0, 0, 0, 0.05);
    display: inline-block;
    margin: -6px 12px -6px -14px;
    padding: 7px 15px;
}

.btn-facebook {
    color: @white !important;
    background-color: #3b5998 !important;
}

.btn-twitter {
    color: @white !important;
    background-color: #55acee !important;
}

.btn-linkedin {
    color: @white !important;
    background-color: #007bb6 !important;
}

.btn-dribbble {
    color: @white !important;
    background-color: #ea4c89 !important;
}

.btn-googleplus {
    color: @white !important;
    background-color: #dd4b39 !important;
}

.btn-instagram {
    color: @white !important;
    background-color: #3f729b !important;
}

.btn-pinterest {
    color: @white !important;
    background-color: #cb2027 !important;
}

.btn-dropbox {
    color: @white !important;
    background-color: #007ee5 !important;
}

.btn-flickr {
    color: @white !important;
    background-color: #ff0084 !important;
}

.btn-tumblr {
    color: @white !important;
    background-color: #32506d !important;
}

.btn-skype {
    color: @white !important;
    background-color: #00aff0 !important;
}

.btn-youtube {
    color: @white !important;
    background-color: #bb0000 !important;
}

.btn-github {
    color: @white !important;
    background-color: #171515 !important;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary.focus:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus {
    background-color: @primary ;
    border: 1px solid @primary;
}

.btn-success.active.focus,
.btn-success.active:focus,
.btn-success.active:hover,
.btn-success.focus:active,
.btn-success:active:focus,
.btn-success:active:hover,
.open > .dropdown-toggle.btn-success.focus,
.open > .dropdown-toggle.btn-success:focus,
.open > .dropdown-toggle.btn-success:hover,
.btn-success.focus,
.btn-success:focus {
    background-color: @success;
    border: 1px solid @success;
}

.btn-info.active.focus,
.btn-info.active:focus,
.btn-info.active:hover,
.btn-info.focus:active,
.btn-info:active:focus,
.btn-info:active:hover,
.open > .dropdown-toggle.btn-info.focus,
.open > .dropdown-toggle.btn-info:focus,
.open > .dropdown-toggle.btn-info:hover,
.btn-info.focus,
.btn-info:focus {
    background-color: @info;
    border: 1px solid @info;
}

.btn-warning.active.focus,
.btn-warning.active:focus,
.btn-warning.active:hover,
.btn-warning.focus:active,
.btn-warning:active:focus,
.btn-warning:active:hover,
.open > .dropdown-toggle.btn-warning.focus,
.open > .dropdown-toggle.btn-warning:focus,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning.focus,
.btn-warning:focus {
    background-color: @warning;
    border: 1px solid @warning;
}

.btn-danger.active.focus,
.btn-danger.active:focus,
.btn-danger.active:hover,
.btn-danger.focus:active,
.btn-danger:active:focus,
.btn-danger:active:hover,
.open > .dropdown-toggle.btn-danger.focus,
.open > .dropdown-toggle.btn-danger:focus,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger.focus,
.btn-danger:focus {
    background-color: @danger;
    border: 1px solid @danger;
}

.btn-inverse,
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.focus,
.btn-inverse:active,
.btn-inverse:focus,
.btn-inverse:hover,
.open > .dropdown-toggle.btn-inverse {
    background-color: @inverse;
    border: 1px solid @inverse;
    color: @white;
}


// Circle Buttons
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}



.section-block {
    background: @white;
    padding: 25px;
    margin-bottom: 15px;
    border: 0px solid #efefef;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);

    .box-title {
        margin: 0px 0px 12px;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 14px;
    }
}




/* File Upload */

.fileupload {
    overflow: hidden;
    position: relative;
    input.upload {
        cursor: pointer;
        filter: alpha(opacity=0);
        font-size: 20px;
        margin: 0;
        opacity: 0;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}




/*Setting box*/

.settings_box {
    position: absolute;
    top: 75px;
    right: 0px;
    z-index: 100;
    a {
        background: @white;
        padding: 15px;
        display: inline-block;
        vertical-align: top;
        i {
            display: block;
            -webkit-animation-name: rotate;
            -webkit-animation-duration: 2s;
            -moz-animation-name: rotate;
            -moz-animation-duration: 2s;
            -moz-animation-iteration-count: infinite;
            -moz-animation-timing-function: linear;
            animation-name: rotate;
            font-size: 16px;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*
.theme_color {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    overflow: hidden;
    width: 0px;
    transition: 0.5s ease-out;
    background: @white;
    li {
        list-style: none;
        width: 30%;
        float: left;
        margin: 0 1.5%;
        a {
            padding: 5px;
            height: 50px;
            display: block;
        }
        a.theme-green {
            background: @success
        }
        a.theme-red {
            background: @danger
        }
        a.theme-dark {
            background: @inverse
        }
    }
}

.theme_block {
    width: 200px;
    padding: 30px;
}
*/

/*Common Ul*/

ul.common li {
    display: inline-block;
    line-height: 40px;
    list-style: outside none none;
    width: 48%;
    a {
        color: @bodytext;
        &:hover {
            color: @info;
        }
    }
}








background-color:@bodycolor;
background:@sidebar;

 html, body, div, form, label, a, b, p, pre, small, em, blockquote, strong, u, em, ul, li, input, button, textarea, select {
	font-family:@basefont1;
	letter-spacing: 1px;

 }

/*Top Header Part*/
.page-brand{
  background:@maincolor;
}
.logo i{ color:@white;}

.navbar-header{
     background:@topbar;
}
.header-content-wrapper > li > a{
    color:@white;
    &.btn {
		line-height: 30px;
		min-height: 30px;
		margin-top: 4px;
    }
}

/*Right panel*/
.quick-view .quick-header{
	background:@maincolor;
}

/*Bread Crumb*/
#content-page-wrapper {
	padding: 25px 0 60px;

}


.fix-sidebar .page-brand{
  background:@maincolor;
}
/*maincolor*/
.bg-maincolor {
  background-color: maincolor !important;
}
.bg-maincolor-dark {
  background-color: @skyblue !important;
}

/*Button*/
.btn-custom{
  background:@maincolor;
  border:1px solid @maincolor;
  color:@white;
  &:hover{
    background:@maincolor;
    opacity:0.8;
    color:@white;
    border:1px solid @maincolor;
  }
}


.open>.fade-inout{
	opacity:1;
	display:inline-block;
}
.fade-inout{
	border: 1px solid rgba(120,130,140,.13);
	border-radius: 2px;
	box-shadow: 0 3px 12px rgba(0,0,0,.05)!important;
	padding-bottom: 0px;
	margin-top: 0;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	opacity:0;
	display: none;
	transform-origin: right 0;
}


/* jv-simple-table ( order custom css ) */
.jv-simple-table {
	background: #DFE7F2;
	color:#a5aaac;
	font-family:@basefont1;

	a {color:#a5aaac;}
	.table-responsive {margin:0 0px;
		.dataTables_wrapper {
			thead {background: #F0F4F6; }
			.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate { padding: 25px 25px;}
			.order-number { padding: 15px 25px;}
		}
		.dataTable {border:0;
		  .order-actions {
			a {
				font-size: 10px;
				border-radius: 60px;
				padding: 4px 12px 3px;
				min-width: 30px;
				height: 20px;
				font-weight: 500;
				letter-spacing: 0.05em;
				color:#fff;
				margin-right: 5px;
				&.pay {background-color: #01c0c8;}
				&.view {background-color:#03a9f3;}
				&.cancel {background-color: #999;}
			}
		    }
		}
		.table > thead > tr > th {
		    vertical-align: bottom;
		    border-top: 0px solid #e4e7ea;
		    border-bottom: 0px solid #e4e7ea;
		    font-weight:400;
		}

		tbody{
			color: #a5aaac;
			font-size:12px;
			font-weight: 400;
			tr.even {background:#FBFCFD;}
		}
		tbody > tr > td {border-bottom:0;}

	}
}

&.admin-bar .jq-toast-wrap.top-right {
    top: 70px;
    right: 40px;
}

&.author-own-page .jq-toast-wrap.top-right {
	display:none;
}


/** Form **/

/* Text Inputs + Textarea
   ========================================================================== */
/* Style Placeholders */
/* form starting stylings ------------------------------- */

form.moveup-animation {
	.group 			  {
	  position:relative;
	  margin-bottom:45px;
	}
	input 				{
	  font-size:18px;
	  padding:10px 10px 10px 5px;
	  display:block;
	  width:300px;
	  border:none;
	  border-bottom:1px solid #757575;
	}
	input:focus 		{ outline:none; }

	/* LABEL ======================================= */
	label 				 {
	  color:#999;
	  font-size:18px;
	  font-weight:normal;
	  position:absolute;
	  pointer-events:none;
	  left:5px;
	  top:10px;
	  transition:0.2s ease all;
	  -moz-transition:0.2s ease all;
	  -webkit-transition:0.2s ease all;
	}

	/* active state */
	input:focus ~ label, input:valid ~ label 		{
	  top:-20px;
	  font-size:14px;
	  color:#5264AE;
	}

	/* BOTTOM BARS ================================= */
	.bar 	{ position:relative; display:block; width:300px; }
	.bar:before, .bar:after 	{
	  content:'';
	  height:2px;
	  width:0;
	  bottom:1px;
	  position:absolute;
	  background:#5264AE;
	  transition:0.2s ease all;
	  -moz-transition:0.2s ease all;
	  -webkit-transition:0.2s ease all;
	}
	.bar:before {
	  left:50%;
	}
	.bar:after {
	  right:50%;
	}

	/* active state */
	input:focus ~ .bar:before, input:focus ~ .bar:after {
	  width:50%;
	}

	/* HIGHLIGHTER ================================== */
	.highlight {
	  position:absolute;
	  height:60%;
	  width:100px;
	  top:25%;
	  left:0;
	  pointer-events:none;
	  opacity:0.5;
	}

	/* active state */
	input:focus ~ .highlight {
	  -webkit-animation:inputHighlighter 0.3s ease;
	  -moz-animation:inputHighlighter 0.3s ease;
	  animation:inputHighlighter 0.3s ease;
	}

	/* ANIMATIONS ================ */
	@-webkit-keyframes inputHighlighter {
		from { background:#5264AE; }
	  to 	{ width:0; background:transparent; }
	}
	@-moz-keyframes inputHighlighter {
		from { background:#5264AE; }
	  to 	{ width:0; background:transparent; }
	}
	@keyframes inputHighlighter {
		from { background:#5264AE; }
	  to 	{ width:0; background:transparent; }
	}

}

/*** My media ***/
.my-media{
	.my-media-box{
		a.btn {
		background:@maincolor;
		width:100%; height: 500px;
		padding:10em;
		&:hover {
			opacity: 0.6;
		    border: 1px solid @maincolor;		
		}
		}
		i {
			font-size:80px;
			font-weight:700;
		}
		h3 {color:@white; 
			font-weight:700;
			font-size:28px;
			line-height:40px;
			letter-spacing: 1px;
		}
	}
}