/*------------------------------------------------------------------
[ Elements ]

Project:	Javo Themes
Version:	1.0
Last change:	05/24/17 [Organize CSS Structure]
Assigned to:	Javo
Primary use:	Elements on member page
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. Common
2. Favorite Simple Block
3. Listing Block
4. Inbox widgets
5. Comment center
6. Task
7. col-in
8. Progressbars
9. Easy Pie charts
10. Tables
11. Right sidebar
12. Jquery toaster
13. Popover
14. File Upload
15. Material Form Input Elements
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[1. Common]
*/
.row-in i {
	font-size:24px;
}

.modal-body .bottom_row { /* bootrap 4 */
	margin-top:30px;
}

/*------------------------------------------------------------------
[2. Favorite Simple Block]
*/
.favorites-simple-block{ 
	width:280px;
	overflow:auto; 
	padding-bottom:0px;
}
.listing-center {
	a{ 
		border-bottom:1px solid @border; 
		display:block; 
		padding:9px 15px;
		&:hover{
			background:@extralight;
		}
	}
	.thumb-img{
		width:40px;
		float:left;
		position:relative;
		margin:0 10px 15px 0px;
		img{ width:100%;}    
	}
	.listing-contnet{
		h5{
			margin:0px;
			font-weight:400;
			text-overflow:ellipsis;
			overflow:hidden;
			white-space:nowrap;
		}
		.meta-location {
			font-size:12px;
			display:block;
			margin:5px 0;
			text-overflow:ellipsis;
			overflow:hidden;
			white-space:nowrap;
			color:@dark;
		}
		.time{
			display:block;
			font-size:10px;
			color:@dark;
		}
	}
}
.mail-contnet a.action{
	margin-left:10px;
	font-size:12px;
	visibility:hidden;
}
.mail-contnet:hover a.action{
	visibility:visible;
}

/*------------------------------------------------------------------
[3. Listing Block]
*/
.listing-block {
	margin:0 -25px;
	.listing-block-body{ 
		border-bottom:1px solid @border; 
		display:table; 
		padding:35px 35px;
		width:100%;
		&:hover{
			background:@extralight;
		}
		.listing-action.btn-hover a.action{
			margin-left:10px;
			font-size:12px;
			visibility:hidden;
			color:@white;
		}
		&:hover .listing-action.btn-hover a.action{
			visibility:visible;
			&.payment {
				color:@white;
				background:@red;
				border-radius: 60px;
				padding: 4px 12px 3px;
				font-weight: 500;
			}
		}
		.listing-thumb{
			width:50px;
			display:table-cell;
			position:relative;
			margin:0 10px 0px 0px;
			img{ width:100%;}
		}

		.listing-content{
			display:table-cell;
			padding-left:35px;
			vertical-align:middle;
			h5{
				margin:0px;
				font-weight:400;
				text-overflow:ellipsis;
				overflow:hidden;
				white-space:nowrap;
				a{
					font-size:15px;
					line-height:25px;
				}
			}

			.time, .meta-taxonomies{
				font-size:12px;
				color:@light-dark;
				padding-right:8px;
				i{padding-right:4px;}
			}
			.post-status {margin-right: 8px;}
			.expire-day {
				font-size: 11px;
				border-radius: 60px;
				padding: 4px 12px 3px;
				font-weight: 500;
				color: @red;
			}
		} //.listing-content

		.listing-action{
			/*font-size:14px;*/
			display:block;
			margin:8px 0;
			line-height:11px;
			color:@dark-text;
			overflow:hidden;

			&.btn-box a {
				background-color: transparent;
				color: @light-dark;
				font-size: 11px;
				font-weight: 400;
				padding: 10px 20px;
				border: 2px solid @light-dark;
				letter-spacing:1px;
				-webkit-transition: all 300ms cubic-bezier(0.54, 0.3, 0.2, 1) 0ms;
				-moz-transition: all 300ms cubic-bezier(0.54, 0.3, 0.2, 1) 0ms;
				-ms-transition: all 300ms cubic-bezier(0.54, 0.3, 0.2, 1) 0ms;
				transition: all 300ms cubic-bezier(0.54, 0.3, 0.2, 1) 0ms;
				border-radius: 5px;
				display:inline-block;
				text-transform: uppercase;
			}
		}//listing-action
	} //listing-block-body
} //listing-block


/*------------------------------------------------------------------
[4. Inbox widgets]
*/
.mailbox{ 
	width:280px;
	overflow:auto; 
	padding-bottom:0px;
}
.message-center {
	a{ 
		border-bottom:1px solid @border; 
		display:block; 
		padding:9px 15px;
		&:hover{
			background:@extralight;
		}
	}
	.user-img{
		width:40px;
		float:left;
		position:relative;
		margin:0 10px 15px 0px;
		img{ width:100%;}
		.profile-status{
			border: 2px solid @white;
			border-radius: 50%;
			display: inline-block;
			height: 10px;
			left: 30px;
			position: absolute;
			top: 1px;
			width: 10px;
		}
		.online{ background:@success; }
		.busy{ background:@danger; }
		.away{ background:@warning; }
		.offline{ background:@warning; }
	}
	.mail-contnet{
		h5{
			margin:0px;
			font-weight:400;
			text-overflow:ellipsis;
			overflow:hidden;
			white-space:nowrap;
		}
		.mail-desc{
			font-size:12px;
			display:block;
			margin:5px 0;
			text-overflow:ellipsis;
			overflow:hidden;
			white-space:nowrap;
			color:@dark;
		}
		.time{
			display:block;
			font-size:10px;
			color:@dark;
		}
	}
} 
.mail-contnet a.action{
	margin-left:10px;
	font-size:12px;
	visibility:hidden;
}
.mail-contnet:hover a.action{
	visibility:visible;
}


/*------------------------------------------------------------------
[5. Comment center]
*/
.comment-center {
	margin:0 -25px;
	.comment-body{ 
		border-bottom:1px solid @border; 
		display:table; 
		padding:20px 25px;
		width:100%;
		&:hover{
			background:@extralight;
		}
	}
	.user-img{
		width:40px;
		display:table-cell;
		position:relative;
		margin:0 10px 0px 0px;
		img{ width:100%;}
	}
	.mail-contnet{
		display:table-cell;
		padding-left:15px;
		vertical-align:top;
		h5{
			margin:0px;
			font-weight:400;
			text-overflow:ellipsis;
			overflow:hidden;
			white-space:nowrap;
		}
		.mail-desc{
			font-size:14px;
			display:block;
			margin:8px 0;
			line-height:25px;
			color:@dark-text;
			height:50px;
			overflow:hidden;
		}
		.time{
			display:block;
			font-size:10px;
			color:@dark;
		}
	}
} 

/*------------------------------------------------------------------
[6. Task]
*/
.dropdown-listings, .dropdown-userinfo{ padding:0px;}
/*.dropdown-listings li a, .dropdown-userinfo li a, .mailbox li > a{ padding:15px 20px;}*/
.dropdown-listings li.divider, .dropdown-userinfo li.divider{ margin:0px;}

/*------------------------------------------------------------------
[7. col-in]
*/
.row-in-br{border-right: 1px solid @border;}
.col-in{
	padding: 20px;
	h3{font-size: 48px; font-weight:100;}
}

/*------------------------------------------------------------------
[8. Progressbars]
*/
.progress{
	-webkit-box-shadow: none !important;
	background-color: @border;
	box-shadow: none !important;
	height: 4px;
	border-radius:@radius;
	margin-bottom: 18px;
	overflow: hidden;
}
.progress-bar{
	box-shadow: none;
	font-size: 8px;
	font-weight: 600;
	line-height: 12px;
}

.progress.progress-sm {
	height: 8px !important;
	.progress-bar {
		font-size: 8px;
		line-height: 5px;
	}
}

.progress.progress-md {
	height: 15px !important;
	.progress-bar {
		font-size: 10.8px;
		line-height: 14.4px;
	}
}

.progress.progress-lg {
	height: 20px !important;
	.progress-bar {
		font-size: 12px;
		line-height: 20px;
	}
}
.progress-bar-primary{background-color: @primary;}
.progress-bar-success{background-color: @success;}
.progress-bar-info{background-color: @info;}
.progress-bar-skyblue{background-color: @skyblue;}
.progress-bar-warning{background-color: @warning;}
.progress-bar-danger{background-color: @danger;}
.progress-bar-inverse{background-color: @inverse;}
.progress-bar-purple{background-color: @purple;}
.progress-bar-custom{background-color: @info;}
.progress-animated{
	-webkit-animation-duration: 5s;
	-webkit-animation-name: myanimation;
	-webkit-transition: 5s all;
	animation-duration: 5s;
	animation-name: myanimation;
	transition: 5s all;
}

@-webkit-keyframes myanimation {
	from{width:0;}
}
@keyframes myanimation {
	from{width:0;}
}

/*------------------------------------------------------------------
[9. Easy Pie charts]
*/

.chart {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	canvas {
		position: absolute;
		top: 0;
		left: 0;
	}
}
.chart.chart-widget-pie {
	margin-top: 5px;
	margin-bottom: 5px;
}
.pie-chart > span {
	left: 0;
	margin-top: -2px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}
.chart > span > img{
	left: 0;
	margin-top: -2px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 50%;
	width:60%;
	height:60%;
	transform: translateY(-50%);
	margin:0 auto; 
}

.percent {
	display: inline-block;
	line-height: 100px;
	z-index: 2;
	font-weight: 600;
	font-size: 18px;
	color: @dark;
	&:after {
		content: '%';
		margin-left: 0.1em;
		font-size: .8em;
	}
}

/*------------------------------------------------------------------
[10. Tables]
*/
.table{margin-bottom: 10px;}
.table-striped>tbody>tr:nth-of-type(odd),.table-hover > tbody > tr:hover,
.table > thead > tr > td.active, .table > tbody > tr > td.active, .table > tfoot > tr > td.active,
.table > thead > tr > th.active, .table > tbody > tr > th.active, .table > tfoot > tr > th.active,
.table > thead > tr.active > td, .table > tbody > tr.active > td, .table > tfoot > tr.active > td,
.table > thead > tr.active > th, .table > tbody > tr.active > th, .table > tfoot > tr.active > th {background-color: @extralight !important;}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th,
.table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td ,
.table > thead > tr > th, .table-bordered{border-top: 0px solid @light; border-bottom: 1px solid @light;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{padding:15px 8px; vertical-align:middle;}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {border: 1px solid @light;}
.table > thead > tr > th {vertical-align: bottom;border-bottom: 1px solid @light;}
tbody{color: #797979;}
th{color: #666666; font-weight: 500;}
.table-bordered {border: 1px solid @light;}
table.focus-on {
	tbody {
		tr.focused {
			th {
				background-color: @maincolor;
				color: @white;
			}
			td{
				background-color: @maincolor;
				color: @white;
			}
		}
	}
}
.table-rep-plugin {
	.table-responsive {
		border: none !important;
	}
	tbody {
		th {
			font-size: 14px;
			font-weight: normal;
		}
	}
}
.jsgrid .jsgrid-table{ margin-bottom:0px;}
.jsgrid-selected-row>td{
	background:@extralight; 
	border-color:@extralight; 
}
.jsgrid-header-row>th{ background:@white; }
.footable-odd{ background-color:@extralight; }

 /*------------------------------------------------------------------
[11. Right sidebar]
*/
.header-content-wrapper > li.right-side-toggle a:focus{ background:@sidebar;}
.quick-view{
	position:fixed;
	right:-240px;
	width:240px;
	display:none;
	z-index:1000;
	background:@sidebar;
	top:0px;
	height:100%;
	box-shadow:5px 1px 40px rgba(0, 0, 0, 0.1);
	transition:all 0.3s ease;
	.quick-header{
		display:block;
		padding:21px;
		color:#fff;
		text-transform:uppercase;
		font-size:13px;
		background:@maincolor;
		span{
			float:right;
			cursor:pointer;
			font-size:11px;
			&:hover{
			    color:@dark;
			}
		}
	}
	.quick-view-body{
		padding:20px;
		ul{
			margin:0px;
			padding:0px;
			li{
				list-style:none;
				padding:5px 0;
			}  
		}
	} 
}
.shw-rside{
	right:0px;
	width:240px;
	display:block;
}

 /*------------------------------------------------------------------
[12. Jquery toaster]
*/ 
.jq-icon-info {background-color: @skyblue; color:@white;}
.jq-icon-success {background-color: @success; color:@white;}
.jq-icon-error {background-color: @danger; color:@white;}
.jq-icon-warning{ background-color:@warning; color:@white;}

/*------------------------------------------------------------------
[13. Popover]
*/ 
.popover {
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
.popover .popover-title{border-radius:0px;}
.popover-primary + .popover .popover-title {
	color: @white;
	background-color: @primary;
	border-color: @primary;
}
.popover-primary + .popover.bottom .arrow { border-bottom-color: @primary;}
.popover-primary + .popover.bottom .arrow:after {border-bottom-color: @primary;}
.popover-success + .popover .popover-title {
	color: @white;
	background-color: @success;
	border-color: @success;
}
.popover-success + .popover.bottom .arrow { border-bottom-color: @success;}
.popover-success + .popover.bottom .arrow:after { border-bottom-color: @success;}
.popover-info + .popover .popover-title {
	color: @white;
	background-color: @info;
	border-color: @info;
}
.popover-info + .popover.bottom .arrow {border-bottom-color: @info;}
.popover-info + .popover.bottom .arrow:after { border-bottom-color: @info;}
.popover-warning + .popover .popover-title {
	color:@white;
	background-color: @warning;
	border-color: @warning;
}
.popover-warning + .popover.bottom .arrow { border-bottom-color: @warning;}
.popover-warning + .popover.bottom .arrow:after { border-bottom-color: @warning;}
.popover-danger + .popover .popover-title {
	color:@white;
	background-color: @danger;
	border-color: @danger;
}
.popover-danger + .popover.bottom .arrow { border-bottom-color: @danger;}
.popover-danger + .popover.bottom .arrow:after {border-bottom-color: @danger;}

/*------------------------------------------------------------------
[14. File Upload]
*/ 
.fileinput {margin-bottom: 9px; display: inline-block;}
.fileinput .form-control {
	padding-top: 7px;
	padding-bottom: 5px;
	display: inline-block;
	margin-bottom: 0px;
	vertical-align: middle;
	cursor: text;
}
.fileinput .thumbnail {
	overflow: hidden;
	display: inline-block;
	margin-bottom: 5px;
	vertical-align: middle;
	text-align: center;
}
.fileinput .thumbnail > img {max-height: 100%;}
.fileinput .btn { vertical-align: middle;}
.fileinput.input-group { display: table;}
.fileinput.input-group > * { position: relative; z-index: 2;}
.fileinput.input-group > .btn-file { z-index: 1;}

/*------------------------------------------------------------------
[15. Material Form Input Elements]
*/
.floating-labels .form-group { position: relative;}
.floating-labels .form-control {
	font-size: 20px;
	padding: 10px 10px 10px 0;
	display: block;
	border: none;
	border-bottom: 1px solid @light;
}
.floating-labels select.form-control>option { font-size: 14px;}
.floating-labels .form-control:focus { outline: none;  border: none;}
.floating-labels label {
	color: @bodytext;
	font-size: 16px;
	position: absolute;
	cursor: auto;
	top: 10px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}
.floating-labels .form-control:focus~label,
.floating-labels .form-control:valid~label {
	top: -20px;
	font-size: 12px;
	color: @primary;
}
.floating-labels .bar {position: relative; display: block;}

.floating-labels .bar:before,
.floating-labels .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: @primary;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}
.floating-labels .bar:before { left: 50%;}
.floating-labels .bar:after { right: 50%;}
.floating-labels .form-control:focus~.bar:before,
.floating-labels .form-control:focus~.bar:after{ width: 50%;}
.floating-labels .highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}
.floating-labels .input-lg~label,
.floating-labels .input-lg { font-size: 24px;}
.floating-labels .input-sm~label,
.floating-labels .input-sm {font-size: 16px;}


