/*------------------------------------------------------------------
[ Responsive ]

Project:	Javo Themes
Version:	1.0
Last change:	05/24/17 [Organize CSS Structure]
Assigned to:	Javo
Primary use:	Responsive of member page
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

1. For Laptop 
	1-1. (1600px)
	1-2. (1350px)
2. Small Desktop
3. Ipad
	3-1. Ipad - min-width:768px
	3-2. Ipad - max-width:1024px
	3-3. Ipad - max-width:991px
	3-4. Ipad - max-width:782px
4. Phone

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[1. For Laptop]
*/

	/*------------------------------------------------------------------
	[1-1. (1600px)]
	*/
@media(max-width:1600px){
	// Member page dashboard - Recent Events
	.card.listing-card.mb-4 .listing-action.btn-box a{
		display:block;
		margin:0 0 5px;
		text-align:center;
		font-size:12px;
		padding:10px;
	}
}

	/*------------------------------------------------------------------
	[1-2. (1350px)]
	*/
@media(max-width:1350px) {
	.carousel .item{
		h3{
			font-size:17px;
			height:90px;
		}
	}
	.inbox-center{
		a{width:400px;}
	}
}

/*------------------------------------------------------------------
[2. Small Desktop]
*/
@media(min-width:1024px) {
	.app-search .form-control:focus{
		width: 300px;
	}
}

/*------------------------------------------------------------------
[3. Ipad]
*/
	/*------------------------------------------------------------------
	[3-1. Ipad - min-width:768px]
	*/
@media(min-width:768px) {
	#content-page-wrapper {
		position: inherit;
		margin: 0px 0 0px @sidebar-width;
	}
	.navbar-default{
		position:relative;
		width:100%;
		top:0px;
	}
	&.fix-header{
		.navbar-static-top{position:fixed;	}
		#content-page-wrapper {margin-top:60px;}
		&.admin-bar{  //if wp-admin bar
			.navbar-static-top{ top:@top-fixed-admin-bar;}
			.sidebar { top:@top-fixed-admin-bar; }
		}
	}
	.sidebar {
		z-index: 10;
		position: absolute;
		width: @sidebar-width;
		padding-top:60px;
		height:100%;
	}
	.lobipanel .panel-heading .dropdown .dropdown-menu>li>a {color: @white;}
	&.sidebar-closed {
		#content-page-wrapper {
			margin-left:60px;
		}
		.navbar-left{
			margin-left:0px;
		}
		.footer{left:60px;}
		.user-profile .user-pro-body .u-dropdown{ display:none;}
		.user-profile .user-pro-body img{ width:40px;}
		.sidebar{
			width:60px;
			overflow: visible;
			.menu-titles{
				display:none;
				width:180px;
				left:60px;
			}
			.sidebar-nav{
				position:absolute;
				overflow:visible;
				.sub-menu-second{
					position:absolute;
					z-index:999999;
				}
			}
			.user-profile{width:60px;}
			.selection-title, li span span{display:none;}
			#side-menu > li:hover{
				width:300px;
				background:@sidebar;
			}
			li:hover .menu-titles{display:inline;}
			#side-menu > li > a{padding:15px 17px 15px 20px;}

			li:hover .sub-menu-second.in, li:hover .sub-menu-second, li:hover .sub-menu-second.collapse li{display:block;}
			.sub-menu-second{
				position: absolute;
				left: 60px;
				background: @sidebar;
				width: 240px;
				opacity:1;
				padding-bottom:0px;
				display:none;
				li{ background:@sidebar;	}
				> li > a{
					padding-left:30px;
					background: @sidebar;
				}
			}
		}
	}
	.header-content-wrapper .dropdown-favorites,
	.header-content-wrapper .dropdown-listings,
	.header-content-wrapper .dropdown-userinfo {margin-left: auto;}
	.mail_listing{border-left:1px solid rgba(120, 130, 140, 0.13); padding-left:20px;}
	.inbox-panel{ padding-right:20px; }
	.top-minus{ margin-top:-62px; float:right;}
	.fix-sidebar.sidebar-closed, .sidebar-closed.fix-sidebar{
		.navbar-left{margin-left:60px!important;}
		.sidebar{
			position:fixed;
			.sidebar-nav{
				position:absolute;
				.sub-menu-second{
					position:absolute;
					z-index:99999;
				}
			}
		}
	}
}

	/*------------------------------------------------------------------
	[3-2. Ipad - max-width:1024px]
	*/
@media (max-width:1024px) {
	.b-r-none{ border-right:0px;}
	.carousel-inner h3{ height:90px; overflow:hidden;}
	.inbox-center{
		a{
			width:300px;
		}
	}
}

	/*------------------------------------------------------------------
	[3-3. Ipad - max-width:991px]
	*/
@media(max-width:991px){
	.author-own-page&{
		.jv-dashboard{
			#content-page-wrapper{
				.container-fluid{
					padding:0;
					>.row{
						margin:0;
						>.col-sm-6{
							max-width:100%;
							flex:0 0 100%;
							padding:0;
						}
					}
				}
			}
		}// .jv-dashboard
	}
	.card.listing-card .listing-action.btn-box a{
		display:block;
		margin:0 0 5px;
		text-align:center;
		font-size:12px;
		padding:10px;
	}
}
	/*------------------------------------------------------------------
	[3-4. Ipad - max-width:782px]
	*/
@media(max-width:782px){
	&.fix-header{
		&.admin-bar{
			.right-sidebar,
			.sidebar,
			.navbar-static-top{
				top:@top-fixed-admin-bar-mobile;
			}
		}
		.navbar-default{
			.sidebar-nav{
				border-top:0;
				box-shadow:none;
			}
		}
	}
}

/*------------------------------------------------------------------
[4. Phone]
*/

@media(max-width:767px) {
	.header-content-wrapper {
		display:inline-block;
		.header-userinfo img{
			margin-right:0px;
		}
		&.pull-right> li.dropdown > a{padding:0 10px;}
		&.pull-right> li.dropdown.submit{padding: .8rem .5rem;}
		&.pull-right> li.dropdown.account img{width:30px;height:30px;}
	}
	.navbar-header .navbar-toggle{padding:0 10px;}
	.page-brand{ width:60px;}
	.header-content-wrapper li:last-child{ margin-right:0px;}
	.header-content-wrapper .dropdown-favorites, .header-content-wrapper .dropdown-listings, .header-content-wrapper .dropdown-userinfo{
		width:260px;
	}
	.row-in-br{ border-right:0px; border-bottom:1px solid @border;}
	.pg-title{
		.breadcrumb{
			float:left;
			margin-top:0px;
			margin-bottom:10px;
		}
	}
	.container-fluid {padding:0; margin:0;}


	/*Timeline*/
	ul.timeline:before {
		left: 40px;
	}

	ul.timeline > li > .timeline-panel {
		width: ~"calc(100% - 90px)";
		width: ~"calc(100% - 90px)";
		width: ~"calc(100% - 90px)";
	}

	ul.timeline > li > .timeline-badge {
		top: 16px;
		left: 15px;
		margin-left: 0;
	}

	ul.timeline > li > .timeline-panel {
		float: right;
	}

	ul.timeline > li > .timeline-panel:before {
		right: auto;
		left: -15px;
		border-right-width: 15px;
		border-left-width: 0;
	}

	ul.timeline > li > .timeline-panel:after {
		right: auto;
		left: -14px;
		border-right-width: 14px;
		border-left-width: 0;
	}

	.wizard-steps > li{
		display:block;
	}
	.dropdown .mailbox, .dropdown .dropdown-listings {
		left:-94px;
	}

	/***** Start Update 1.5 *****/
	&.fix-header{
		.navbar-static-top{
			position:fixed;
			top:0px;
			width:100%;
		}
		#content-page-wrapper {
			margin-top:35px;
			
			.quick-view{ // right menu
				.quick-view-body{
					.navbar-collapse{
						box-shadow:none;
					}
				}
			}// .quick-view - right menu
		}

		&.admin-bar {
			.navbar-static-top{
				position:fixed;
				top: @top-fixed-admin-bar-mobile;
			}
			#wpadminbar {
				position: fixed;
			}
		}
	}
	.mega-dropdown-menu{
		height:340px;
		overflow:auto;
	}
	.left-aside{
		position:relative;
		width:100%;
		border:0px;
	}
	.right-aside{
		margin-left:0px;
	}
	.chat-main-box .chat-left-aside{
		left:-250px;
		transition:0.5s ease-in;
		background:@white;
		&.open-pnl{
			left:0px;
		}
		.open-panel{
			display:block;
		}
	}
	.chat-main-box .chat-right-aside{
		margin:0px;
	}
	/***** Close Update 1.5 *****/
	.table-responsive.pro-rd {
		border: none;
	}
	.step-register, .login-register,#msform fieldset{
		position: relative;
	}
}
@media(max-width:480px) {
	.vtabs{
		.tabs-vertical{
			width:auto;
		}
	}
	.stat-item{padding-right:0px;}
	.login-box{
		width:100%;
	}
	.pro-content .pro-list-details {
		height: 100px;
		border-right: none;
	}
	.pro-list-info ul.pro-info li {
		padding: 10px 0 10px 0;
	}
	.pro-list-info ul.pro-info {
		padding-left: 0;
	}
	.pro-agent .agent-img {
		padding-top: 3px;
	}
	.pro-agent .agent-name {
		padding: 2px 0 10px 15px;
	}
}

@media(max-width:991px) {
	.line-steps .step-title:after,
	.line-steps .step-title:before {
		content: none;
	}

	.numbered-bg .step-info,
	.numbered-bg .step-title {
		padding-right: 0;
	}
}