// --Sidebar

.collapse.actived {
    display: block;
}

.collapse.in {
    display: block;
}

/*Sidebar*/
.sidebar {
    overflow-y: hidden;
	background:@sidebar;
	text-transform: uppercase;
	letter-spacing:1px;
	font-weight: 400;
	.sidebar-nav {
		padding-left: 0;
		padding-right: 0;
		#side-menu {
			width:@sidebar-width;
			.section-title {
				color:#a6a9b5;
				padding: 15px 30px 15px 15px;
				margin-left:5px;
			}
			.section-divide {
				border-bottom: solid 1px #363B49;
			}
			li { /* menu */
				a {
					color:@sidebar-text;
					border-left:3px solid @sidebar;
				    padding: 16px 30px 16px 30px;
					&:hover, &:focus{
						background:rgba(0, 0, 0, 0.07);
						color:@maincolor;
					}
					&.active {
						border-left:3px solid @maincolor;
						color:@dark-text;
						font-weight:500;
						background: @bodycolor;
						i{
							color:@maincolor;
							font-size:1.1em;
						}
					}

					i {
						font-size:1.1em;
					}

					.arrow {
						position: absolute;
						right: 15px;
						top: 18px;
					}
				}
				ul > li > a { /* sub menu */
				    padding: 16px 30px 16px 53px;
					 font-weight:300;
					 font-size:0.9em;
					&:hover{
					//color:@sidebar-text;
					background: none;
					font-size:0.9em;
					}
					&.active{
					  border-left: 3px solid @sidebar;
					 color:@white;
					 background:@sidebar;
					 font-size:0.9em;
					}
					&.sub-menu-second .arrow {
						right: 15px;
						top: 12px;
					}
				}


			}
		} //#side-menu
	} //.sidebar-nav

	.fa.arrow:before {
		content: "\f105";
	}
	.active > a > span > .fa.arrow:before {
		content: "\f107";
	}
}


.sidebar .sub-menu-second li,
.sidebar .nav-third-level li {
    border-bottom: none !important;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

&.sidebar-closed .nicescroll-rails {
    display: none!important;
}


/* for sidebar */
#side-menu > li.selected > a {
    border-left: 3px solid @maincolor;
    font-weight: 500;
}


&.sidebar-closed .sidebar {
	.sidebar-nav #side-menu{
		width: auto;
		li a {
		padding: 16px 30px 16px 20px;
			&.active {
				background: transparent;
				color:@maincolor;
			}
		}
	}
	.sidebar-nav #side-menu li a.hover {
		background: @sidebar;
	}
	.sub-menu-second{
		li{
			background:@sidebar;
		}
	}
}


@media(min-width:768px) {
&.sidebar-closed {
       .sidebar-nav #side-menu ul, .sidebar-nav .sidebar #side-menu > li:hover, .sidebar .sub-menu-second > li > a{
              background:@sidebar;
         }

   }
}

&.sidebar-closed {
	.navbar-default.sidebar {
		@media screen and (max-width:768px) {
			width:auto;
			position: fixed;
			padding-top:60px;
		}
	}
	&.admin-bar {
		.navbar-default.sidebar {
			@media screen and (max-width:768px) {
					top:@top-fixed-admin-bar-mobile;
					padding-top:60px;
			}
		}
	}
}



.navbar-header a.navbar-toggle{
	& > span.jv-icon3-left{
		display:inline-block;
	}
	& > span.jv-icon3-right{
		display:none;
	}
	&.active{
		& > span.jv-icon3-left{
			display:none;
		}
		& > span.jv-icon3-right{
			display:inline-block;
		}
	}
}


.navbar-default.sidebar {
    height: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.2s;
	overflow-y:visible;
	padding-bottom:50px;
	&::-webkit-scrollbar{width:0;}
	@media screen and (max-width:768px) {
		width:auto !important;
	}
	@media screen and (min-width:768px) {
		position: fixed;
	}
}

#content-page-wrapper {
    transition: margin-left .2s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (min-width: 768px) {
            .vertical-nav {
                margin-top: 0px;
				&.navbar {
					border:0;
					margin:0;
					padding:0;
				}
				&.bg-inverse {
					background-color:transparent !important;
				}
            }
        }

		/* Creates a vertical nav starting at 768px (sm) */
@media (min-width: 768px) {
    .vertical-nav .collapse {
        display: block;
    }
}


/*---- Header ---*/



/*------3. Header & Top ------*/

.drop-right {right:0; left:auto;}
.drop-left {left:0; right:auto;}

.pg-title {
    h4 {
	margin:0 20px;
	color: @white;
	font-weight: 300;
	letter-spacing:1px;
	line-height:44px;
	text-transform:uppercase;
	margin-top: 6px;
	font-size: 15px;
    }
}



// Navigation
// --Topbar  
.logo span.logo-img {
    /*background:@maincolor;*/
    height: 60px;
    display: inline-block;
    width: 60px;
    line-height: 60px;
    text-align: center;
}


.page-brand {
    width: 260px;
    float: left;
    max-height:60px;
    overflow:hidden;
    a {
        color: @white;
        font-size: 18px;
        padding-left: 0px;
        text-transform: uppercase;
    }
    .light-logo {
        display: none;
    }
}

.navbar-header {
    width: 100%;
    background: @topbar;
    border: 0px;
}

.navbar-default {
    border: 0px;
}

.header-content-wrapper {
    margin-right: 0;
	/*header-icon-notice*/
	.header-icon-notice {
	    position: relative;
	    margin-top: -30px;
	    span.label-notice-num {
		border-radius:12px;
	    }
	}
	.badge {
    position: absolute;
    right: 6px;
    top: 15px;
	&.badge-status {
		padding:19px;
		right:0;
		top:0;
		line-height:14px;
		font-size:14px;
	}
	}

	
}

.header-content-wrapper > li {
    float: left;
    i {
	font-size: 19px;
	width: 1.25em;
    }
}

.header-content-wrapper > li > a {
    color: @white;
    padding: 0 14px;
    line-height: 60px;
    min-height: 60px;
    &:hover {
        background: transparent;
    }
    &:focus {
        background: transparent;
    }
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background: transparent;
}

ul.header-content-wrapper > li {
	& > ol.breadcrumb {
		display:none;
		padding:0;
		margin:0;
		background-color: transparent;
		/* display:inline-block; */
		& > li{
			& > a {
			line-height:60px;
			text-transform:uppercase;
			display:inline-block;
			color: @sidebar-text;
				&:hover {
					color: @white;
				}
			}
		}
	}
}

.header-content-wrapper .dropdown-menu li {
    display: block;
}

.header-content-wrapper .dropdown-menu li:last-child {
    margin-right: 0;
}

.header-content-wrapper .dropdown-menu li a div {
    white-space: normal;
}

.header-content-wrapper .dropdown-favorites,
.header-content-wrapper .dropdown-listings,
.header-content-wrapper .dropdown-userinfo {
    width: 310px;
    min-width: 0;
}

.navbar-header .navbar-toggle {
    float: none;
    padding: 0 15px;
    line-height: 60px;
    border: 0px;
    color: rgba(255, 255, 255, 1);
    margin: 0px;
    display: inline-block;
    border-radius: 0px;
    font-size:1.23em;
    &:hover,
    &:focus {
        background: rgba(0, 0, 0, 0.3);
        color: rgba(255, 255, 255, 1);
    }
}

.selection-title {
    color: #a6afbb;
    cursor: default;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 0.035em;
    padding: 12px 15px !important;
    pointer-events: none;
    margin: 20px 0 0 -15px;
}

.header-userinfo {
    padding: 0px 20px;
    line-height: 50px;
    img {
        margin-right: 10px;
    }
	b {
	line-height: 50px;
	}
}

.drop-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: @dark;
    font-size: 15px;
    font-weight: 600;
    padding: 11px 20px 15px;
}