/*
Theme Name: LivSavi-Child
Theme URI: https://livsavi.com
Description: This is a child theme of LivSavi
Author: LivSavi
Template: javo-directory
Version: 1.0
*/

/* Add new and changed styles below this line */
@media only screen and (max-width: 768px){
	.woocommerce-MyAccount-content tr{
		display: inline !important;
	}
}

.woocommerce-checkout-review-order{
	min-width: 320px;
    position: static;
    width: 50%;
    float: none;
    margin: 0 25% 0 25%;
}

.experience_oz_title{
	font-size: 20px !important; 
	margin-bottom: 10px;
	color: #000;
}

.experience_price{
	font-size: 18px !important; 
	margin-bottom: 5px;
	color: #000;
}

.experience_price_warning{
	font-size: 10px !important;
	color: #000;
}

.experience_oz_description{
	font-size: 14px !important; 
	color: #000;
}

.experience_oz_highlights_title, .experience_oz_moreInfo_heading{
	font-size: 18px !important; 	
	margin: 0px !important;
	color: #000;
}

.experience_oz_highlights, .experience_oz_moreInfo_value{
	margin: 0 0 10px 20px;
	color: #000;
}

.experience_oz_highlights>li, .experience_oz_moreInfo_value>li{
	list-style: circle;
}


.javo-fileupload .jvfrm_user_menu, li.switch-category, .woocommerce .col2-set, .woocommerce-page .col2-set{
	display: none !important;
}

a.in-text-link{
	color: #00ACFF;
	text-decoration: underline;
}

.navbar-brand-wrap{
	min-width:140px !important;
}
 
@media screen and (min-width: 768px) and (max-width: 960px){
	#menu-main-menu li a {
		letter-spacing: 1px !important;
		padding:17px 8px !important;
	}
}

.woocommerce .order_details li:last-of-type {
    border: none;
    display: none;
}

.customised-Buttons{
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    white-space: nowrap;
    width: 180px;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid;
    border-radius: 5px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}


/* Hide Woocommerce messages */
html .woocommerce .woocommerce-message, html .woocommerce .woocommerce-error, html .woocommerce .woocommerce-info {
    display: none;
}
/*********************RCP table formating*************************
Adding rules to the rcp-table class so that the rules eliminating the table formatting in bootstrap.min is ignored
*****************************************************************/
table.rcp-table {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid black;
}

table.rcp-table th {
	border: 1px solid black;
	background-color: #e6e6e6;
	padding: 10px;
	text-align: left;
}

table.rcp-table td {
	border: 1px solid black;
	padding: 10px;
	text-align: left;
}

table.rcp-table tr:hover{background-color:#f5f5f5};


/*********************Nectar Button*******************************
The old nectar button rules - included to enable the restricted button layout/behavior
TODO: get someone with a good understanding of css to remove not used rules

DO NOT ADD ANYTHING BELOW THIS
*****************************************************************/
.btn {
	padding: 8px 16px;
}

.nectar-button {
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    transition: opacity .45s cubic-bezier(0.25, 1, 0.33, 1);
    -moz-transition: opacity .45s cubic-bezier(0.25, 1, 0.33, 1);
    -webkit-transition: opacity .45s cubic-bezier(0.25, 1, 0.33, 1);
    -o-transition: opacity .45s cubic-bezier(0.25, 1, 0.33, 1);
    color: #FFFFFF;
    font-family: 'Open Sans';
	font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 13px 18px;
    position: relative;
    text-transform: uppercase;
    top: -3px;
    margin-bottom: 10px;
    opacity: 1;
    line-height: 20px;
    background-color: #27CFC3;
    display: inline-block;
}
.nectar-3d-transparent-button {
	text-transform: uppercase;
	font-family: 'Open Sans';
	font-weight: 700;
    font-size: 12px;
	line-height: 20px;
	visibility: hidden;
}
.nectar-button.small {
    border-radius: 2px 2px 2px 2px;
    font-size: 11px;
    padding: 8px 14px;
    letter-spacing: 2px;
    color: #FFFFFF;
    box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -1px rgba(0, 0, 0, 0.1) inset;
}

.nectar-button.medium {
    border-radius: 3px 3px 3px 3px;
    padding: 10px 15px;
    font-size: 12px;
    letter-spacing: 2px;
    color: #FFFFFF;
    box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -2px rgba(0, 0, 0, 0.1) inset;
}

.nectar-button.large {
    font-size: 14px;
    padding: 15px 22px;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
}

.nectar-button.jumbo {
    font-size: 18px;
    padding: 25px 40px;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
}

.nectar-button.extra_jumbo {
    font-size: 60px;
    line-height: 60px;
    padding: 60px 90px;
    box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
    -o-box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
}
.nectar-button.small.see-through, .nectar-button.small.see-through-2, .nectar-button.small.see-through-3 {
	padding-top: 6px;
	padding-bottom: 6px;
}
.nectar-button.medium.see-through, .nectar-button.medium.see-through-2, .nectar-button.medium.see-through-3 {
	padding-top: 9px;
	padding-bottom: 9px;
}
.nectar-button.large.see-through, .nectar-button.large.see-through-2, .nectar-button.large.see-through-3 {
	border-width: 2px!important;
	padding-top: 13px;
	padding-bottom: 13px;
}
.nectar-button.jumbo.see-through, .nectar-button.jumbo.see-through-2, .nectar-button.jumbo.see-through-3 {
	border-width: 4px!important;
	padding-top: 21px;
	padding-bottom: 21px;
}
.nectar-button.extra_jumbo.see-through, .nectar-button.extra_jumbo.see-through-2, .nectar-button.extra_jumbo.see-through-3 {
	border-width: 10px!important;
}

.nectar-button.extra_jumbo.has-icon, .nectar-button.tilt.extra_jumbo.has-icon {
	padding-left: 80px;
	padding-right: 80px;
}

.nectar-button.extra_jumbo i, .nectar-button.tilt.extra_jumbo i {
	right: 75px;
}
.nectar-button.has-icon.extra_jumbo:hover i, .nectar-button.tilt.extra_jumbo.has-icon i {
	-ms-transform: translateX(13px);
    -webkit-transform: translateX(13px);
    transform: translateX(13px);
}
.nectar-button.has-icon.extra_jumbo:hover span, .nectar-button.tilt.extra_jumbo.has-icon span {
	-ms-transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
}

.nectar-button.extra_jumbo i {
	font-size: 40px!important;
	margin-top: -20px!important;
	line-height: 40px!important;
}

body .nectar-button em {
	font-size: inherit;
	line-height: inherit;
}

.nectar-button i {
	font-size: 18px;	
	line-height: 18px;
	width: 18px;
	position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -9px;
    opacity: 0;
    -ms-filter: "alpha(opacity=0)";
    transition: all .45s cubic-bezier(0.25, 1, 0.33, 1);
    -webkit-transition: all .45s cubic-bezier(0.25, 1, 0.33, 1);
}

 .portfolio-items .col .work-info .vert-center .custom-content .nectar-button i {
 	opacity: 0;
 }

.portfolio-items .nectar-love i, .post-meta .nectar-love i, #project-meta .nectar-love i {
	width: 23px!important;
	font-size: 14px!important;
	top: 0px!important;
}


.nectar-button.small i {
	font-size: 16px;
	line-height: 16px;
	right: 26px;
}

.nectar-button i.icon-button-arrow { font-size: 20px; }
.nectar-button.medium i.icon-button-arrow, .nectar-button.small i.icon-button-arrow  { font-size: 16px; }

.nectar-button span {
	left: 0px;
	display: inline-block;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	transition: opacity .45s cubic-bezier(0.25, 1, 0.33, 1), transform .45s cubic-bezier(0.25, 1, 0.33, 1);
	-webkit-transition: opacity .45s cubic-bezier(0.25, 1, 0.33, 1), -webkit-transform .45s cubic-bezier(0.25, 1, 0.33, 1);
	position: relative;
}

.nectar-button.has-icon, .nectar-button.tilt.has-icon {
	padding-left: 42px;
	padding-right: 42px;
}

body[data-button-style="rounded"] .nectar-button.medium:not(.see-through):not(.see-through-2):not(.see-through-3).has-icon, body[data-button-style="rounded"] .nectar-button.medium:not(.see-through):not(.see-through-2):not(.see-through-3).tilt.has-icon {
	padding-left: 42px;
	padding-right: 42px;
}

.nectar-button.extra-color-gradient-1, .nectar-button.extra-color-gradient-2,
.nectar-button.see-through-extra-color-gradient-1, .nectar-button.see-through-extra-color-gradient-2 {
	background-color: transparent!important;
	opacity: 1!important;
	box-shadow: none!important;
}
.nectar-button.extra-color-gradient-1:after, .nectar-button.extra-color-gradient-2:after,
.nectar-button.see-through-extra-color-gradient-1:after, .nectar-button.see-through-extra-color-gradient-2:after {
	position: absolute;
	content: ' ';
	top: -2%;
	left: -1%;
	width: 101.5%;
	height: 104%;
	transform-origin: right;
	-webkit-transform-origin: right;
	-ms-transform-origin: right;
	transform: scale(0,1);
	-webkit-transform: scale(0,1);
	-ms-transform: scale(0,1);
	-ms-transition: transform 0.38s cubic-bezier(.2,0.95,.4,0.95), background-size 0.38s ease;
	transition: transform 0.38s cubic-bezier(.2,0.95,.4,0.95), background-size 0.38s ease;
	-webkit-transition: transform 0.38s cubic-bezier(.2,0.95,.4,0.95), background-size 0.38s ease;
	z-index: -1;
}

.nectar-button.see-through-extra-color-gradient-1:after, .nectar-button.see-through-extra-color-gradient-2:after {
	background-size: 225% 100%!important;
	background-position: right!important;
}

.nectar-button.see-through-extra-color-gradient-1:hover:after, .nectar-button.see-through-extra-color-gradient-2:hover:after {
	transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform-origin: left;
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	background-position: left!important;
	background-size: 100% 100%!important;
}

.nectar-button.extra-color-gradient-1:after, .nectar-button.extra-color-gradient-2:after {
	transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform-origin: left;
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	background-size: 100% 100%!important;
	background-position: left!important;
}

.nectar-button.extra-color-gradient-1:hover:after, .nectar-button.extra-color-gradient-2:hover:after {
	transform: scale(0,1);
	-webkit-transform: scale(0,1);
	-ms-transform: scale(0,1);
	transform-origin: right;
	-webkit-transform-origin: right;
	-ms-transform-origin: right;
	background-size: 225% 100%!important;
	background-position: right!important;
}

.nectar-button.extra-color-gradient-1 .start, .nectar-button.extra-color-gradient-2 .start,
.nectar-button.extra-color-gradient-1 .hover, .nectar-button.extra-color-gradient-2 .hover,
.nectar-button.see-through-extra-color-gradient-1 .start, .nectar-button.see-through-extra-color-gradient-2 .start,
.nectar-button.see-through-extra-color-gradient-1 .hover, .nectar-button.see-through-extra-color-gradient-2 .hover {
	-ms-transition: transform 0.38s cubic-bezier(.2,0.95,.4,0.95), opacity 0.38s cubic-bezier(.2,0.95,.4,0.95);
	transition: transform 0.38s cubic-bezier(.2,0.95,.4,0.95), opacity 0.38s cubic-bezier(.2,0.95,.4,0.95);
	-webkit-transition: transform 0.38s cubic-bezier(.2,0.95,.4,0.95), opacity 0.38s cubic-bezier(.2,0.95,.4,0.95);
}

.nectar-button.extra-color-gradient-1 .start, .nectar-button.extra-color-gradient-2 .start,
.nectar-button.see-through-extra-color-gradient-1 .start, .nectar-button.see-through-extra-color-gradient-2 .start {
	animation: gradientTextHoverHover 0.38s;
	animation-timing-function: cubic-bezier(.2,0.9,.4,0.9);
	animation-fill-mode:forwards;
	display: inline-block!important;
}
.nectar-button.extra-color-gradient-1 .hover, .nectar-button.extra-color-gradient-2 .hover,
.nectar-button.see-through-extra-color-gradient-1 .hover, .nectar-button.see-through-extra-color-gradient-2 .hover {
	position: absolute;
	display: inline;
	left: 0;
	animation: gradientTextHoverOff 0.38s;
	animation-timing-function: cubic-bezier(.2,0.9,.4,0.9);
	animation-fill-mode:forwards;
	text-align: center;
	width: 100%;
	opacity: 0;
	z-index: 0;
}
.nectar-button.extra-color-gradient-1:hover .hover, .nectar-button.extra-color-gradient-2:hover .hover,
.nectar-button.see-through-extra-color-gradient-1:hover .hover, .nectar-button.see-through-extra-color-gradient-2:hover .hover {
	animation: gradientTextHoverHover 0.38s;
	animation-timing-function: cubic-bezier(.2,0.9,.4,0.9);
	animation-fill-mode:forwards;
}

.nectar-button.extra-color-gradient-1:hover .start, .nectar-button.extra-color-gradient-2:hover .start,
.nectar-button.see-through-extra-color-gradient-1:hover .start, .nectar-button.see-through-extra-color-gradient-2:hover .start {
	animation: gradientTextHoverOff 0.38s;
	animation-timing-function: cubic-bezier(.2,0.9,.4,0.9);
	animation-fill-mode:forwards;
}


.nectar-button.see-through-extra-color-gradient-1 .hover, .nectar-button.see-through-extra-color-gradient-2 .hover {
	position: absolute;
	display: inline;
	left: 0;
	text-align: center;
	width: 100%;
	opacity: 0;
	z-index: 100;
}

.nectar-button.extra-color-gradient-1 .start.loading, .nectar-button.extra-color-gradient-2 .start.loading, .nectar-button.see-through-extra-color-gradient-1 .start.loading, .nectar-button.see-through-extra-color-gradient-2 .start.loading {
	animation: gradientTextHoverHover 0s;
}


.light .nectar-button.extra-color-gradient-1:hover .hover, .light .nectar-button.extra-color-gradient-2:hover .hover,
.light .nectar-button.see-through-extra-color-gradient-1:hover .start, .light .nectar-button.see-through-extra-color-gradient-2:hover .start,
.light .nectar-button.see-through-extra-color-gradient-1 .start, .light .nectar-button.see-through-extra-color-gradient-2 .start,
div[data-text-color="light"] .nectar-button.extra-color-gradient-1:hover .hover, div[data-text-color="light"] .nectar-button.extra-color-gradient-2:hover .hover,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-1:hover .start, div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-2:hover .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-1 .start, div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-2 .start {
	background: none!important;
    -webkit-background-clip: border-box;
    -webkit-text-fill-color: #fff;
    background-clip: border-box;
    text-fill-color: #fff;
}
.light .nectar-button.see-through-extra-color-gradient-1.no-text-grad .start,
.light .nectar-button.see-through-extra-color-gradient-2.no-text-grad .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-1.no-text-grad .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-2.no-text-grad .start {
	color: #fff!important;
}

.light .nectar-button.see-through-extra-color-gradient-1:hover .start, .light .nectar-button.see-through-extra-color-gradient-2:hover .start,
.light .nectar-button.see-through-extra-color-gradient-1 .start, .light .nectar-button.see-through-extra-color-gradient-2 .start,
.light .nectar-button.extra-color-gradient-1 .start, .light .nectar-button.extra-color-gradient-2 .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-1:hover .start, div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-2:hover .start,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-1 .start, div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-2 .start,
div[data-text-color="light"] .nectar-button.extra-color-gradient-1 .start, div[data-text-color="light"] .nectar-button.extra-color-gradient-2 .start {
	opacity: 1!important;
	animation: none!important;
}
.light .nectar-button.see-through-extra-color-gradient-1 .hover, .light .nectar-button.see-through-extra-color-gradient-2 .hover,
.light .nectar-button.extra-color-gradient-1 .hover, .light .nectar-button.extra-color-gradient-2 .hover,
div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-1 .hover, div[data-text-color="light"] .nectar-button.see-through-extra-color-gradient-2 .hover,
div[data-text-color="light"] .nectar-button.extra-color-gradient-1 .hover, div[data-text-color="light"] .nectar-button.extra-color-gradient-2 .hover {
	opacity: 0!important;
	animation: none!important;
}
@keyframes gradientTextHoverHover {
  0% {
    transform: translateX(0px);
    opacity: 0;
  }
  70% {
  	opacity: 1;
  }
  100% {
    transform: translateX(0px)!important;
	opacity: 1;
  }
}

@keyframes gradientTextHoverOff {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }
  70% {
  	opacity: 0;
  }
  100% {
    transform: translateX(0px)!important;
    opacity: 0;
  }
}

.nectar-button.see-through-extra-color-gradient-1.medium.has-icon, .nectar-button.see-through-extra-color-gradient-2.medium.has-icon, .nectar-button.extra-color-gradient-1.medium.has-icon, .nectar-button.extra-color-gradient-2.medium.has-icon {
	padding: 7px 30px;
}
.nectar-button.see-through-extra-color-gradient-1.large.has-icon, .nectar-button.see-through-extra-color-gradient-2.large.has-icon, .nectar-button.extra-color-gradient-1.large.has-icon, .nectar-button.extra-color-gradient-2.large.has-icon {
	padding: 12px 35px;
}
.nectar-button.extra-color-gradient-1 i, .nectar-button.extra-color-gradient-2 i, .nectar-button.see-through-extra-color-gradient-1 i, .nectar-button.see-through-extra-color-gradient-2 i {
	opacity: 1;
	right: 24px;
	background: inherit;
	background-size: 500% 100%;
	background-position: right;
}
.nectar-button.extra-color-gradient-1.has-icon span, .nectar-button.extra-color-gradient-2.has-icon span, .nectar-button.see-through-extra-color-gradient-1.has-icon span, .nectar-button.see-through-extra-color-gradient-2.has-icon span {
	left: -18px;
}

.nectar-button.extra-color-gradient-1.has-icon:hover span, 
.nectar-button.extra-color-gradient-2.has-icon:hover span,
.nectar-button.see-through-extra-color-gradient-1.has-icon:hover span,
.nectar-button.see-through-extra-color-gradient-2.has-icon:hover span,
.nectar-button.extra-color-gradient-1.has-icon:hover i, 
.nectar-button.extra-color-gradient-2.has-icon:hover i,
.nectar-button.see-through-extra-color-gradient-1.has-icon:hover i,
.nectar-button.see-through-extra-color-gradient-2.has-icon:hover i {
	-ms-transform: none;
	transform: none;
	-webkit-transform: none;
}

.nectar-button.extra-color-gradient-1.jumbo i, .nectar-button.extra-color-gradient-2.jumbo i, .nectar-button.see-through-extra-color-gradient-1.jumbo i, .nectar-button.see-through-extra-color-gradient-2.jumbo i {
	opacity: 1;
	right: 20px!important;
	font-size: 20px;
	line-height: 20px;
	width: 20px;
	text-align: center;
	margin-top: -10px;
}

.nectar-button.extra-color-gradient-1.extra_jumbo i, .nectar-button.extra-color-gradient-2.extra_jumbo i, .nectar-button.see-through-extra-color-gradient-1.extra_jumbo i, .nectar-button.see-through-extra-color-gradient-2.extra_jumbo i {
	right: 67px!important;
	width: 40px;
}
.nectar-button.extra-color-gradient-1.has-icon.extra_jumbo span, .nectar-button.extra-color-gradient-2.has-icon.extra_jumbo span, .nectar-button.see-through-extra-color-gradient-1.has-icon.extra_jumbo span, .nectar-button.see-through-extra-color-gradient-2.has-icon.extra_jumbo span {
	left: -35px;
}
.nectar-button.extra-color-gradient-1.has-icon.jumbo span, .nectar-button.extra-color-gradient-2.has-icon.jumbo span, .nectar-button.see-through-extra-color-gradient-1.has-icon.jumbo span, .nectar-button.see-through-extra-color-gradient-2.has-icon.jumbo span {
	left: -16px;
}

.nectar-button.extra-color-gradient-1.has-icon.large span, .nectar-button.extra-color-gradient-2.has-icon.large span, .nectar-button.see-through-extra-color-gradient-1.has-icon.large span, .nectar-button.see-through-extra-color-gradient-2.has-icon.large span {
	left: -14px;
}
.nectar-button.extra-color-gradient-1.has-icon.medium span, .nectar-button.extra-color-gradient-2.has-icon.medium  span, .nectar-button.see-through-extra-color-gradient-1.has-icon.medium  span, .nectar-button.see-through-extra-color-gradient-2.has-icon.medium  span {
	left: -13px;
}
.nectar-button.extra-color-gradient-1.has-icon.small span, .nectar-button.extra-color-gradient-2.has-icon.small span, .nectar-button.see-through-extra-color-gradient-1.has-icon.small  span, .nectar-button.see-through-extra-color-gradient-2.has-icon.small span {
	left: -11px!important;
}



.nectar-button.extra-color-gradient-1.jumbo .hover i, .nectar-button.extra-color-gradient-2.jumbo .hover i, .nectar-button.see-through-extra-color-gradient-1.jumbo .hover i, .nectar-button.see-through-extra-color-gradient-2.jumbo .hover i { right: 8px!important; }
.nectar-button.extra-color-gradient-1.extra_jumbo .hover i, .nectar-button.extra-color-gradient-2.extra_jumbo .hover i, .nectar-button.see-through-extra-color-gradient-1.extra_jumbo .hover i, .nectar-button.see-through-extra-color-gradient-2.extra_jumbo .hover i { right: 19px!important; }
.nectar-button.extra-color-gradient-1.large .hover i, .nectar-button.extra-color-gradient-2.large .hover i, .nectar-button.see-through-extra-color-gradient-1.large .hover i,  .nectar-button.see-through-extra-color-gradient-2.large .hover i { right: 5px!important; }
.nectar-button.extra-color-gradient-1.medium .hover i, .nectar-button.extra-color-gradient-2.medium .hover i,  .nectar-button.see-through-extra-color-gradient-1.medium .hover i, .nectar-button.see-through-extra-color-gradient-2.medium .hover i { right: 3px!important; }
.nectar-button.extra-color-gradient-1.small .hover i,  .nectar-button.extra-color-gradient-2.small .hover i, .nectar-button.see-through-extra-color-gradient-1.small .hover i, .nectar-button.see-through-extra-color-gradient-2.small .hover i { right: 7px!important; }

.nectar-button.extra-color-gradient-1.jumbo .start i, .nectar-button.extra-color-gradient-2.jumbo .start i, .nectar-button.see-through-extra-color-gradient-1.jumbo .start i, .nectar-button.see-through-extra-color-gradient-2.jumbo .start i { right: -32px!important; }
.nectar-button.extra-color-gradient-1.extra_jumbo .start i, .nectar-button.extra-color-gradient-2.extra_jumbo .start i,  .nectar-button.see-through-extra-color-gradient-1.extra_jumbo .start i, .nectar-button.see-through-extra-color-gradient-2.extra_jumbo .start i { right: -75px!important; }
.nectar-button.extra-color-gradient-1.large .start i, .nectar-button.extra-color-gradient-2.large .start i,  .nectar-button.see-through-extra-color-gradient-1.large .start i, .nectar-button.see-through-extra-color-gradient-2.large .start i { right: -32px!important; }
.nectar-button.extra-color-gradient-1.medium .start i, .nectar-button.extra-color-gradient-2.medium .start i,  .nectar-button.see-through-extra-color-gradient-1.medium .start i, .nectar-button.see-through-extra-color-gradient-2.medium .start i { right: -30px!important; }
.nectar-button.extra-color-gradient-1.small .start i, .nectar-button.extra-color-gradient-2.small .start i,  .nectar-button.see-through-extra-color-gradient-1.small .start i, .nectar-button.see-through-extra-color-gradient-2.small .start i { right: -30px!important; }

.nectar-button.see-through-extra-color-gradient-1.small, .nectar-button.see-through-extra-color-gradient-2.small, .nectar-button.extra-color-gradient-1.small, .nectar-button.extra-color-gradient-2.small { padding: 5px 14px; }
.nectar-button.see-through-extra-color-gradient-1.medium, .nectar-button.see-through-extra-color-gradient-2.medium, .nectar-button.extra-color-gradient-1.medium, .nectar-button.extra-color-gradient-2.medium { border-width: 3px; padding: 7px 15px; }
.nectar-button.see-through-extra-color-gradient-1.large, .nectar-button.see-through-extra-color-gradient-2.large, .nectar-button.extra-color-gradient-1.large, .nectar-button.extra-color-gradient-2.large { border-width: 3px; padding: 12px 22px; }
.nectar-button.see-through-extra-color-gradient-1.jumbo, .nectar-button.see-through-extra-color-gradient-2.jumbo, .nectar-button.extra-color-gradient-1.jumbo, .nectar-button.extra-color-gradient-2.jumbo { border-width: 4px; padding: 21px 40px; }
.nectar-button.see-through-extra-color-gradient-1.extra_jumbo, .nectar-button.see-through-extra-color-gradient-2.extra_jumbo, .nectar-button.extra-color-gradient-1.extra_jumbo, .nectar-button.extra-color-gradient-2.extra_jumbo { border-width: 10px; padding: 56px 90px; }


.nectar-button.extra-color-gradient-1 span,
.nectar-button.extra-color-gradient-2 span,
.nectar-button.see-through-extra-color-gradient-1 span,
.nectar-button.see-through-extra-color-gradient-2 span {
	z-index: 100;
}

.nectar-button.has-icon.small, .nectar-button.tilt.has-icon.small {
	padding-left: 33px;
	padding-right: 33px;
}

.nectar-button.has-icon:hover span, .nectar-button.tilt.has-icon span {
	-ms-transform: translateX(-18px);
	-webkit-transform: translateX(-18px);
	transform: translateX(-18px);
}

.nectar-button.has-icon.small:hover span, .nectar-button.tilt.small.has-icon span {
	-ms-transform: translateX(-14px);
	-webkit-transform: translateX(-14px);
	transform: translateX(-14px);
}

.nectar-button.has-icon:hover i, .nectar-button.tilt.has-icon i {
	opacity: 1!important;
	-ms-filter: "alpha(opacity=100)";
	-ms-transform: translateX(6px);
	-webkit-transform: translateX(6px);
	transform: translateX(6px);
}

.nectar-button.small.has-icon:hover i, .nectar-button.small.tilt.has-icon i {
	-ms-transform: translateX(10px);
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
}

.nectar-button:hover, .full-width-section .light .nectar-button:hover {
	 opacity: 0.75;
	 color: #fff;
}

.full-width-section .light .nectar-button:not(.see-through):not(.see-through-2):not(.see-through-3) {
	opacity: 0.9;
}

.text_on_hover.product .add_to_cart_button, .text_on_hover.product a.added_to_cart {
	font-family: 'Open Sans';
	font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 1px!important;
    position: relative;
    text-transform: uppercase;
}

.text_on_hover.product a.added_to_cart {
	border-radius: 2px;
}

.nectar-button.see-through, body .nectar-button.see-through, .text_on_hover.product .add_to_cart_button  {
	background-color: transparent!important;
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	-o-box-shadow: none!important;
	opacity: 1!important;
	transition: all .45s cubic-bezier(0.25, 1, 0.33, 1)!important;
	-moz-transition: all .45s cubic-bezier(0.25, 1, 0.33, 1)!important;
	-webkit-transition: all .45s cubic-bezier(0.25, 1, 0.33, 1)!important;
	-o-transition: all .45s cubic-bezier(0.25, 1, 0.33, 1)!important;
	border-radius: 2px!important;
	-webkit-border-radius: 2px!important;
	-o-border-radius: 2px!important;
	border: 2px solid rgba(255,255,255,0.75);
}


.nectar-button.see-through-2, .nectar-button.see-through-3 {
	background-color: transparent;
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	-o-box-shadow: none!important;
	opacity: 1;
	transition: all .45s cubic-bezier(0.25, 1, 0.33, 1)!important;
	-moz-transition: all .45s cubic-bezier(0.25, 1, 0.33, 1)!important;
	-webkit-transition: all .45s cubic-bezier(0.25, 1, 0.33, 1)!important;
	-o-transition: all .45s cubic-bezier(0.25, 1, 0.33, 1)!important;
	border-radius: 2px!important;
	-webkit-border-radius: 2px!important;
	-o-border-radius: 2px!important;
	border: 2px solid rgba(255,255,255,0.75);
}

.nectar-button.see-through-2:hover, .nectar-button.see-through-3:hover {
	background-color: transparent;
}

.nectar-button.see-through-3  {
	border: 2px solid rgba(255,255,255,1);
}

/* rounded buttons */
body[data-button-style="rounded"] .nectar-button.see-through, body[data-button-style="rounded"].ascend .nectar-button.see-through,
body[data-button-style="rounded"] .nectar-button.see-through-2, body[data-button-style="rounded"].ascend .nectar-button.see-through-2,
body[data-button-style="rounded"] .nectar-button.see-through-3, body[data-button-style="rounded"].ascend .nectar-button.see-through-3,
body[data-button-style="rounded"] .portfolio-filters-inline .container ul li a,
body[data-button-style="rounded"] #to-top, body[data-button-style="rounded"] .flex-direction-nav a, body[data-button-style="rounded"] #pagination span, 
body[data-button-style="rounded"] #pagination a, body[data-button-style="rounded"] #pagination .next.inactive, body[data-button-style="rounded"] #pagination .prev.inactive, 
body[data-button-style="rounded"].woocommerce nav.woocommerce-pagination ul li a, 
body[data-button-style="rounded"].woocommerce .container-wrap nav.woocommerce-pagination ul li span,
body[data-button-style="rounded"].woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
body[data-button-style="rounded"] input[type=submit], body[data-button-style="rounded"] button[type=submit], body[data-button-style="rounded"] input[type="button"],
body[data-button-style="rounded"] button, body[data-button-style="rounded"].ascend .container-wrap input[type="submit"], body[data-button-style="rounded"].ascend .container-wrap button[type="submit"],
body[data-button-style="rounded"] .nectar-button, body[data-button-style="rounded"] .swiper-slide .button a,
body[data-button-style="rounded"]  header#top nav > ul > li.button_solid_color > a:before,
body[data-button-style="rounded"]  header#top nav > ul > li.button_bordered > a:before {
	border-radius: 200px!important;
	-webkit-border-radius: 200px!important;
	-o-border-radius: 200px!important;
}

body[data-button-style="rounded"] .nectar-button.medium:not(.see-through):not(.see-through-2):not(.see-through-3) {
	padding: 12px 18px;
}
body .nectar-button.see-through:hover {
	border: 2px solid rgba(255,255,255,1);
}

.col.light .nectar-button.see-through-2, .col.light .nectar-button.see-through-3 {
	color: #fff;
}

.col.light .nectar-button.see-through {
	border: 2px solid rgba(255,255,255,0.75);
	color: #fff;
}

.col.light .nectar-button.see-through:hover {
	border: 2px solid rgba(255,255,255,1);
}

.col.dark .nectar-button.see-through, .col.dark .nectar-button.see-through-2 {
	border: 2px solid rgba(0,0,0,0.75);
	color: #444444;
}

.col.dark .nectar-button.see-through:hover {
	border: 2px solid rgba(0,0,0,1);
}

body .nectar-button.see-through-2:hover,
body .col.dark .nectar-button.see-through-2:hover,
body .nectar-button.see-through-3:hover,
body .col.dark .nectar-button.see-through-3:hover {
	border-color: #27CFC3;
	background-color: #27CFC3;
	color:	#fff;
	opacity: 1!important;
}

h2 .nectar-button {
	top: -6px;
}

ul .favoriteList {
	padding: 0px
}